<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/heade :: head(product)}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:replace="~{fragment/header :: header}">

</th:block>
<hr class="mt-0">
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s"
             style="max-width: 500px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <p class="fs-5 fw-bold text-primary">Pet A Pet</p>
            <h1 class="display-5 mb-5">Pet Product</h1>
        </div>
        <div class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
        <hr class="my-4">
        </div>
        <div class="row mb-5"></div>
        <div class="row g-4 portfolio-container " style="position: relative; height: auto;">
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-inner rounded">
                    <img class="img-fluid" th:src="@{/img/petFood.jpg}" alt="">
                    <div class="portfolio-text" style="opacity: 1;">
                        <h1 class="text-white text-center">
                            <a style="text-decoration: none" class="text-white" th:href="@{/product/{category}(category=food)}">사료</a></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-inner rounded">
                    <img class="img-fluid" th:src="@{/img/petSnack.jpg}" alt="">
                    <div class="portfolio-text" style="opacity: 1;">
                        <h1 class="text-white text-center">
                            <a style="text-decoration: none" class="text-white" th:href="@{/product/{category}(category=snack)}">간식</a></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-inner rounded">
                    <img class="img-fluid" th:src="@{/img/petwalkingSupplies.jpg}" alt="">
                    <div class="portfolio-text" style="opacity: 1;">
                        <h1 class="text-white text-center">
                            <a style="text-decoration: none" class="text-white" th:href="@{/product/{category}(category=walking)}">산책용품</a></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-inner rounded">
                    <img class="img-fluid" th:src="@{/img/petCompanionProducts.jpg}" alt="">
                    <div class="portfolio-text" style="opacity: 1;">
                        <h1 class="text-white text-center">
                            <a style="text-decoration: none" class="text-white" th:href="@{/product/{category}(category=toy)}">장난감</a></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-inner rounded">
                    <img class="img-fluid" th:src="@{/img/petFashionGoods.jpg}" alt="">
                    <div class="portfolio-text" style="opacity: 1;">
                        <h1 class="text-white text-center">
                            <a style="text-decoration: none" class="text-white" th:href="@{/product/{category}(category=fashion)}">패션/잡화</a></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-inner rounded">
                    <img class="img-fluid" th:src="@{/img/petStroller.jpg}" alt="">
                    <div class="portfolio-text" style="opacity: 1;">
                        <h1 class="text-white text-center">
                            <a style="text-decoration: none" class="text-white" th:href="@{/product/{category}(category=stroller)}">유모차</a></h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-inner rounded">
                    <img class="img-fluid" src="img/service-1.jpg" alt="">
                    <div class="portfolio-text" style="opacity: 1;">
                        <div class="h-50">
                            <h1 class="text-white text-center">
                                <a style="text-decoration: none" class="text-white" href="#">상품명</a></h1>
                            <h2 class="text-white text-center fs-5 mt-5"> 상품상세 </h2>
                        </div>
                        <div class="d-flex flex-column">
                            <div class="col">
                                <h2 class="text-white fs-5 text-end">1000</h2>
                            </div>
                            <div class="btn-group-sm">
                                <button type="button" class="btn me-1">cart</button>
                                <button type="button" class="btn me-1">buy</button>
                                <button type="button" class="btn">보러가기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-inner rounded">
                    <img class="img-fluid" src="img/service-1.jpg" alt="">
                    <div class="portfolio-text">
                        <div class="h-50">
                            <h1 class="text-white text-center">
                                <a style="text-decoration: none" class="text-white" href="#">상품명</a></h1>
                            <h2 class="text-white text-center fs-5 mt-5"> 상품상세 </h2>
                        </div>
                        <div class="d-flex flex-column">
                            <div class="col">
                                <h2 class="text-white fs-5 text-end">1000</h2>
                            </div>
                            <div class="btn-group-sm">
                                <button type="button" class="btn me-1">cart</button>
                                <button type="button" class="btn me-1">buy</button>
                                <button type="button" class="btn">보러가기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-inner rounded">
                    <img class="img-fluid" src="img/service-1.jpg" alt="">
                    <div class="portfolio-text">
                        <div class="h-50">
                            <h1 class="text-white text-center">
                                <a style="text-decoration: none" class="text-white" href="#">상품명</a></h1>
                            <h2 class="text-white text-center fs-5 mt-5"> 상품상세 </h2>
                        </div>
                        <div class="d-flex flex-column">
                            <div class="col">
                                <h2 class="text-white fs-5 text-end">1000</h2>
                            </div>
                            <div class="btn-group-sm">
                                <button type="button" class="btn me-1">cart</button>
                                <button type="button" class="btn me-1">buy</button>
                                <button type="button" class="btn">보러가기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<hr class="my-4">
<div class="container-fluid bg-dark text-light text-center footer mt-5 py-3">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 col-md-6 mx-auto">
                <h4 class="text-white mb-4"><img src="#" alt="logo"/>petApet</h4>
                <ul class="text-white px-0" >
                    <li><a href="#">petApet</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이용안내</a></li>
                </ul>

                <p>법인명(상호) : petApet(펫어펫) | 사업자등록번호 : 123-45-678910</p>
                <p>통신판매업 : 제 2022-서울강남-012345호 | 개인정보보호책임자:ㅇㅇㅇ</p>
                <p>서울 강남구 테헤란로 7길 7(역삼동 에스코빌딩 6층) | 대표이사:ㅇㅇㅇ</p>

            </div>
            <!-- <div class="col-lg-6 mx-auto col-md-6">
                <h4 class="text-white mb-4">Our Office</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Copyright Start -->
<div class="container-fluid text-center copyright py-4">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 text-center mx-auto  mb-3 mb-md-0">
                &copy; petApet Project Team All Right Reserved.
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/parallax/parallax.min.js"></script>
<script src="lib/isotope/isotope.pkgd.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>

</html>