<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/admin_fragment :: head(~{::title})">
    <title>petApet - 관리자 페이지</title>
</head>

<body>
<div class="container-scroller">
    <div th:replace="fragment/admin_fragment :: navbar"></div>
    <div class="container-fluid page-body-wrapper">
        <div th:replace="fragment/admin_fragment :: sidebar1"></div>

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">Welcome Admin</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">성별별 회원통계</h4>
                                <canvas id="pieChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">연령대별 회원통계</h4>
                                <canvas id="barChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 stretch-card grid-margin" id="inquiryManage">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <p class="card-title mb-0">공지사항 관리</p>
                                    <a href="/admin/registerNotice">
                                        <button type="button" class="btn btn-primary btn-sm registerBtn">
                                            공지사항등록
                                        </button>
                                    </a>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>
                                        <tr>
                                            <th class="pl-0  pb-2 border-bottom">공지사항 번호</th>
                                            <th class="border-bottom pb-2">제목</th>
                                            <th class="border-bottom pb-2">수정</th>
                                            <th class="border-bottom pb-2">삭제</th>
                                        </tr>
                                        </thead>
                                        <tbody class="noticeList">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title mb-0">문의관리</p>
                                <div class="table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>
                                        <tr>
                                            <th class="pl-0  pb-2 border-bottom">문의번호</th>
                                            <th class="border-bottom pb-2">제목</th>
                                            <th class="border-bottom pb-2">구분</th>
                                            <th class="border-bottom pb-2">답변여부</th>
                                        </tr>
                                        </thead>
                                        <tbody class="otherList">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 stretch-card grid-margin" id="reportManage">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <p class="card-title mb-0">커뮤니티 신고관리</p>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>
                                        <tr>
                                            <th class="pl-0  pb-2 border-bottom">신고번호</th>
                                            <th class="border-bottom pb-2">게시글번호</th>
                                            <th class="border-bottom pb-2">신고사유</th>
                                            <th class="border-bottom pb-2">승인</th>
                                        </tr>
                                        </thead>
                                        <tbody class="communityReport">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <p class="card-title mb-0">회원 신고관리</p>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>
                                        <tr>
                                            <th class="pl-0  pb-2 border-bottom">신고번호</th>
                                            <th class="border-bottom pb-2">회원ID</th>
                                            <th class="border-bottom pb-2">신고사유</th>
                                            <th class="border-bottom pb-2">승인</th>
                                        </tr>
                                        </thead>
                                        <tbody class="memberReport">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 stretch-card grid-margin" id="productManage">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <p class="card-title mb-0">상품 신고관리</p>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>
                                        <tr>
                                            <th class="pl-0  pb-2 border-bottom">신고번호</th>
                                            <th class="border-bottom pb-2">상품번호</th>
                                            <th class="border-bottom pb-2">신고사유</th>
                                            <th class="border-bottom pb-2">승인</th>
                                        </tr>
                                        </thead>
                                        <tbody class="productReport">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <p class="card-title mb-0">사업자 가입관리</p>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>
                                        <tr>
                                            <th class="pl-0  pb-2 border-bottom">#</th>
                                            <th class="border-bottom pb-2">사업체명</th>
                                            <th class="border-bottom pb-2">사업자번호</th>
                                            <th class="border-bottom pb-2">승인</th>
                                        </tr>
                                        </thead>
                                        <tbody class="companyJoinAccept">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card" id="communityManage">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">전체 커뮤니티관리</h4>
                                <div class="table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>
                                        <tr>
                                            <th>게시글번호</th>
                                            <th>제목</th>
                                            <th>작성자</th>
                                            <th>구분</th>
                                            <th>작성날짜</th>
                                            <th>신고수</th>
                                            <th>삭제</th>
                                        </tr>
                                        </thead>
                                        <tbody class="wholeCommunityData">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card" id="memberManage">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">전체 회원관리</h4>
                                <div class="table-responsive">
                                    <table class="table table-hover text-center">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>아이디</th>
                                            <th>이름</th>
                                            <th>성별</th>
                                            <th>가입날짜</th>
                                            <th>신고수</th>
                                            <th>정지/탈퇴</th>
                                        </tr>
                                        </thead>
                                        <tbody class="wholeMemberData">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 게시글 삭제 확인 모달 -->
            <div class="modal fade" id="confirmCommunityDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">커뮤니티 글 삭제</h1>
                        </div>
                        <div class="modal-body communityDelete text-center">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-primary confirmCommunityDelete"
                                    data-bs-dismiss="modal">강제삭제
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 회원 삭제 확인 모달 -->
            <div class="modal fade" id="confirmMemberDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">회원 정지/탈퇴</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body memberDelete text-center">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary confirmDisabledMember"
                                    data-bs-dismiss="modal">회원정지
                            </button>
                            <button type="button" class="btn btn-primary confirmMemberDelete" data-bs-dismiss="modal">
                                강제탈퇴
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 신고 확인 Modal -->
            <div class="modal fade" id="confirmReportModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title fs-5 text-center" id="exampleModalLabel">상품신고</h2>
                            <button type="button" class="btn-close" id="modalCloseBTN" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center productReportBody">
                            <input type="hidden" id="modalReportId">
                            <input type="hidden" id="modalTargetType">
                            <input type="hidden" id="modalTargetId">
                            <h4 class="text-left font-weight-bold">신고대상</h4>
                            <input class="form-control form-control-sm" id="reportTargetContent" value="" readonly>
                            <br>
                            <h4 class="text-left font-weight-bold">신고 사유</h4>
                            <input class="form-control form-control-sm" id="reportReason" value="" readonly>
                            <br>
                            <h4 class="text-left font-weight-bold">구체적 사유</h4>
                            <textarea class="form-control" id="reportDetailReason" value="" rows="4"
                                      readonly></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    id="cancelReportBtn">반려
                            </button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="acceptReportBtn">
                                승인
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 사업자 정보 확인 Modal -->
            <div class="modal fade" id="confirmCompanyInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title fs-5 text-center" id="exampleModalLabel">사업자 회원 정보</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="modalCompanyName" class="form-label">사업체명</label>
                                    <input type="text" class="form-control" id="modalCompanyName" readonly>
                                </div>
                                <div class="col-md-6">
                                    <label for="modalCompanyId" class="form-label">사업자ID</label>
                                    <input type="text" class="form-control" id="modalCompanyId" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="modalCompanyPhoneNum" class="form-label">전화번호</label>
                                    <input type="text" class="form-control" id="modalCompanyPhoneNum" readonly>
                                </div>
                                <div class="col-md-6">
                                    <label for="modalCompanyEmail" class="form-label">이메일</label>
                                    <input type="text" class="form-control" id="modalCompanyEmail" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <label for="modalCompanyNumber" class="form-label">사업자번호</label>
                                    <input type="text" class="form-control" id="modalCompanyNumber" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="modalCompanyNumberConfirm" readonly>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="refuseReasonJoinCompany" class="form-label">반려사유</label>
                                    <select class="form-control" id="refuseReasonJoinCompany">
                                        <option selected value="등록되지 않은 사업자번호">등록되지 않은 사업자번호</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    id="refuseCompanyJoinBtn">반려
                            </button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                    id="acceptCompanyJoinBtn">
                                승인
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragment/admin_fragment :: footer"></div>
        </div>
    </div>
</div>
<script src="/vendors/js/vendor.bundle.base.js"></script>

<script src="/vendors/chart.js/Chart.min.js"></script>
<script src="/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="/js/dataTables.select.min.js"></script>

<script src="/js/off-canvas.js"></script>
<script src="/js/hoverable-collapse.js"></script>
<script src="/js/template.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/Chart.roundedBarCharts.js"></script>

<script src="/js/chart/chart.js"></script>
<script type="text/javascript" src="/js/adminJS.js"></script>
</body>
</html>

