<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragment/admin_fragment :: head(~{::title})">
    <title>petApet - 문의 관리</title>
</head>

<body>
<div class="container-scroller">
    <div th:replace="fragment/admin_fragment :: navbar"></div>
    <div class="container-fluid page-body-wrapper">
        <div th:replace="fragment/admin_fragment :: sidebar2"></div>

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">문의 내역</h4>
                            <div style="height: 20px;"></div>
                            <form class="form-sample" th:method="post"
                                  th:action="@{/admin/{idx}/edit(idx=${inquiredList.inquiredId})}"
                                  th:object="${inquiredList}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">문의 제목</label>
                                            <div class="col-sm-9">
                                                <div class="form-control" th:text="*{inquiredTitle}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">문의 일시</label>
                                            <div class="col-sm-9">
                                                <div type="text" class="form-control"
                                                     th:text="${#temporals.format(inquiredList.inquiredDate, 'yyyy년 MM월 dd일 / HH시 mm분')}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
<!--                                    <div class="col-md-6">-->
<!--                                        <div class="form-group row">-->
<!--                                            <label class="col-sm-3 col-form-label">이메일</label>-->
<!--                                            <div class="col-sm-9">-->
<!--                                                <div type="text" class="form-control" th:text="*{email}"></div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">답변 상태</label>
                                            <div class="col-sm-9">
                                                <div class="form-control" th:text="*{checked} ? '답변완료':'답변대기'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">상품사진첨부</label>
                                            <div class="col-sm-9">
                                                <div class="input-group col-xs-12">
                                                    <span class="input-group-append">
                                                        <button class="file-upload-browse btn btn-primary"
                                                                type="button">Upload</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleTextarea1">&nbsp;&nbsp;&nbsp;&nbsp;문의 내용</label>
                                    <textarea class="form-control" id="exampleTextarea1" rows="10"
                                              th:text="*{inquiredContent}" readonly></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="exampleTextarea1">&nbsp;&nbsp;&nbsp;&nbsp;답변 작성</label>
                                    <textarea class="form-control" id="exampleTextarea2" rows="10" name="answer"
                                              th:text="*{answer}" th:readonly="*{checked}"></textarea>
                                </div>
                                <div th:if="!*{checked}">
                                    <button class="btn btn-primary mr-2" type="submit">답변작성완료</button>
                                    <a th:href="@{/admin/adminPage}">
                                        <button type="button" class="btn btn-light">뒤로가기</button>
                                    </a>
                                </div>
                                <div th:unless="!*{checked}">
                                    <a th:href="@{/admin/adminPage}">
                                        <button type="button" class="btn btn-light">뒤로가기</button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragment/admin_fragment :: footer"></div>
        </div>
    </div>
</div>
</body>
</html>

