<!DOCTYPE html>
<html lang="en">

<head th:replace="fragment/admin_fragment :: head2"></head>

<body>
<div class="container-scroller">
  <div th:replace="fragment/admin_fragment :: navbar"></div>
  <div class="container-fluid page-body-wrapper">
    <div th:replace="fragment/admin_fragment :: sidebar2"></div>

    <div class="main-panel">
      <div class="content-wrapper">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">공지사항 수정</h4>
              <div style="height: 20px;"></div>
              <p class="text-danger" th:text="${error}"></p>
              <form class="form-sample" th:method="post" th:action="@{/admin/updateNotice}">
                <input type="hidden" th:value="${noticeInfo.communityId}" name="communityId">
                <input type="hidden" th:value="${noticeInfo.communityCategory}" name="communityCategory">
                <div class="form-group">
                  <label for="summernoteTitle">제목</label>
                  <input type="text" class="form-control" id="summernoteTitle" name="communityTitle" placeholder="Title" th:value="${noticeInfo.communityTitle}">
                </div>
                <div class="form-group">
                  <label for="summernoteContent">공지내용</label>
                  <textarea class="form-control" id="summernoteContent" name="communityContent" rows="20" th:value="${noticeInfo.communityContent}">[[${noticeInfo.communityContent}]]</textarea>
                </div>
                <button type="button" id="submitBtn" class="btn btn-primary mr-2">수정완료</button>
                <a th:href="@{/admin/adminPage}">
                  <button class="btn btn-light" type="button">취소</button>
                </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="fragment/admin_fragment :: footer"></div>
</div>
<script th:src="@{/js/summernote.js}"></script>
<script type="text/javascript" src="/js/adminJS.js" />
</body>
</html>

