<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment/saron_base :: base(~{::title},~{::link},~{::script})">
    <title>petApet - 커뮤니티</title>
    <link>
    <script th:src="@{/js/member/getLoginInfo.js}"></script>
    <script th:src="@{/js/community/goCommunityMemberInfo.js}"></script>
    <script th:src="@{/js/community/comment.js}"></script>
    <script th:src="@{/js/community/paginationJS.js}"></script>
    <script type="text/javascript" th:src="@{/js/reportJS.js}"></script>
</head>
<body>
<th:block th:replace="~{fragment/header :: header}"></th:block>
<hr class="mt-5 border-white">
<div class="container-xxl">
    <div class="container p-5">
        <div class="text-center mb-4">
            <p class="fs-5 fw-bold text-primary">Pet A Pet</p>
            <h1 class="display-5 mb-3">Pet Community</h1>
            <hr class="mt-0 mb-3"/>
        </div>
        <div class="col-12" sec:authorize="isAnonymous()">
            <div class="border p-5">
                <h4>커뮤니티 게시판 권한 안내</h4>
                <hr class="mt-1"/>
                <div>
                    <p class="pt-0 mb-0">회원님은 아직 로그인을 하지 않으셨어요. 먼저 로그인을 하시고 이용해주세요.</p>
                    <p class="pt-0 mb-0">petApet 계정이 없다면, 회원가입을 해주세요.</p>
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="button" id="backBtn" class="btn btn-info">되돌아가기</button>
                <button type="button" id="loginBtn" class="btn btn-primary">로그인</button>
                <button type="button" id="joinBtn" class="btn btn-danger">회원가입</button>
            </div>
        </div>

        <div class="col-12" sec:authorize="isAuthenticated()">
            <div class="border p-5 pb-8">
                <h5><span class="text-danger" th:text="${posts.communityCategory}"/></h5>
                <h4>
                    <span class="me-2" style="color:#888;" th:text="${posts.communitySubCategory}"/>
                    [[${posts.communityTitle}]]</h4>
                <img class="rounded-circle border border-1 me-1 my-1"
                     th:src="${posts.memberImg}==0? '/img/profile.jpg':'/image/'+${posts.memberImg}"
                     width="50" height="50" style="object-fit: cover;">
                <div class="dropdown mx-1 d-inline-block memberDiv">
                    <a href="javascript:" id="postsMemberId" class="memberId" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" th:text="${posts.memberId}"/>
                    <ul class="dropdown-menu" style="min-width: auto;">
                        <li><a class="dropdown-item memberProfile" href="javascript:">회원정보</a></li>
                        <li><a class="dropdown-item memberWriting" href="javascript:">작성글보기</a></li>
                        <li th:unless="${#authentication.name == posts.memberId}">
                            <a class="dropdown-item sendMessage" href="javascript:">쪽지보내기</a>
                        </li>
                        <li th:unless="${#authentication.name == posts.memberId}">
                            <!--                            <a class="dropdown-item memberReport" href="javascript:">신고하기</a>-->
                            <button type="button" class="dropdown-item memberReport" id="addProductReport"
                                    data-bs-toggle="modal" data-bs-target="#addReportModal"
                                    title="신고하기">신고하기
                            </button>
                        </li>
                    </ul>
                </div>
                <span class="mx-1" th:text="'조회 '+${posts.viewCount}"/>
                <span class="mx-1" th:text="${posts.modifiedDate}"/>
                <span>댓글</span>
                <span id="commentListSize" class="text-danger" th:text="${posts.commentListSize}"/>
                <div class="float-end mt-2">
                    <button id="postsUpdate"
                            type="button" class="btn btn-info" th:if="${#authentication.name == posts.memberId}">수정
                    </button>
                    <button id="postsDelete" type="button" class="btn btn-danger"
                            th:if="${#authentication.name == posts.memberId}">삭제
                    </button>
                    <div class="dropdown mx-1 d-inline-block">
                        <a href="javascript:" role="button" data-bs-toggle="dropdown" class="btn btn-link2 p-0"
                           aria-expanded="false"><i class="bi bi-three-dots-vertical m-auto fs-5"></i></a>
                        <ul class="dropdown-menu" style="min-width: auto;">
                            <li>
                                <button type="button" class="dropdown-item communityReport"
                                        data-bs-toggle="modal" data-bs-target="#addReportModal"
                                        title="신고">신고
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr class="mt-1 mb-4"/>
                <div id="postsContent" th:utext="${posts.communityContent}"/>
            </div>
            <div class="bg-lightGray pt-1 pb-5">
                <div id="commentList"></div>
                <div id="page" class="mt-4"></div>
                <div class="bg-white m-5 p-4 pt-2" sec:authorize="hasAnyRole('MEMBER','ADMIN')">
                        <textarea id="commentContent" style="resize:none; height: 100px; border:none;"
                                  class="w-100 form-control px-1"
                                  placeholder="인터넷은 우리가 함께 만들어가는 소중한 공간입니다. 댓글 작성 시 타인에 대한 배려와 책임을 담아주세요."
                                  maxlength="600"></textarea>
                    <div id="thumbnailImgDiv" class="my-3 position-relative w-fit-content d-none">
                        <img id="thumbnailImg" class="border" width="150" height="150" style="object-fit: cover;">
                        <button id="imgRemoveBtn" type="button"
                                class="btn-close btn-close-white bg-dark position-absolute top-0 end-0 rounded-0"
                                aria-label="Close"></button>
                    </div>
                    <input type="file" id="inputFile" class="form-control d-none"
                           onchange="setThumbnail(event)" accept=".gif, .jpg, .png">
                    <div class="text-end mt-2">
                        <button id="commentImgBtn" class="btn btn-link2 float-start p-0">
                            <i class="bi bi-image fs-4 mt-3"></i>
                        </button>
                        <span id="commentLength">0</span><span class="text-grey">/600</span>
                        <button id="lockBtn" class="btn btn-link2 mx-2 p-0">
                            <i id="lockIcon" class="bi bi-unlock-fill fs-4 m-0"></i>
                        </button>
                        <button type="button" id="commentSubmitBtn" class="btn btn-danger text-end">등록</button>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="button" id="communityBtn" class="btn btn-primary">글목록</button>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-dark btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
<th:block th:replace="~{fragment/layout :: mainFooter}"></th:block>
<!-- 신고 모달 -->
<th:block th:replace="~{fragment/reportModal :: reportModal}"></th:block>
</body>
</html>