<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment/saron_base :: base(~{::title},~{::link},~{::script})">
    <title>petApet - 커뮤니티</title>
    <link>
    <script type="text/javascript" src="/js/reportJS.js"></script>
    <script>
        $(function () {
            getLoginId();
            getCommentList();
            //댓글 글자수
            $("#commentContent").keyup(function () {
                $("#commentLength").text($("#commentContent").val().length);
            });
            //댓글 등록 버튼
            $("#commentSubmitBtn").click(function () {
                if ($("#commentContent").val() == '') {
                    alert("내용을 입력해주세요");
                    return;
                } else {
                    submitComment();
                }
            });
            //비밀댓글 버튼
            $("#lockBtn").click(function () {
                $("#lockIcon").toggleClass("bi-unlock-fill");
                $("#lockIcon").toggleClass("text-gray");
                $("#lockIcon").toggleClass("bi-lock-fill");
                $("#lockIcon").toggleClass("text-danger");
            });
            //댓글 이미지첨부 버튼
            $("#commentImgBtn").click(function () {
                $("#inputFile").click();
            });
            //댓글작성 이미지 삭제버튼
            $("#imgRemoveBtn").click(function () {
                $("#inputFile").val('');
                $("#thumbnailImgDiv").addClass(' d-none');
                $("#thumbnailImg").attr("src", "");
            });
            //글목록 버튼
            $("#communityBtn").click(function () {
                window.location = "/community";
            });
            //게시물 삭제버튼
            $("#postsDelete").click(function () {
                let arr = [];
                $("#postsContent").find("img").each(function (index, item) {
                    // arr[index] = $(this).attr('src').substr(16)
                    arr.push($(this).attr('src').substr(16))
                });
                $.ajax({
                    type: "POST",
                    url: "/community/delete",
                    data: {
                        communityId: $(location).attr('pathname').substring(11),
                        deleteImg: arr,
                    },
                    dataType: "json",
                    success: function (result) {
                        alert("삭제가 완료되었습니다.");
                        window.location = "/community";
                    },
                    // error: function () {
                    //     alert("오류가 발생했습니다.");
                    // },
                    complete: function (data) {
                        alert("삭제가 완료되었습니다.");
                        window.location = "/community";
                        //  실패했어도 완료가 되었을 때 처리
                    }
                });
            });
            //게시물 수정버튼
            $("#postsUpdate").click(function () {
                let form = document.createElement('form');
                let communityId;
                communityId = document.createElement('input');
                communityId.setAttribute('type', 'hidden');
                communityId.setAttribute('name', 'communityId');
                communityId.setAttribute('value', $(location).attr('pathname').substring(11));
                form.appendChild(communityId);
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/community/update');
                document.body.appendChild(form);
                form.submit();
            });

            //이전페이지
            $(document).on("click", "#prevPage", function () {
                if ($(this).hasClass('disabled')) {
                    return;
                }
                goCommentPage(nowPage - 1);
            });
            //다음페이지
            $(document).on("click", "#nextPage", function () {
                if ($(this).hasClass('disabled')) {
                    return;
                }
                goCommentPage(nowPage + 1);
            });
            //페이지선택
            $(document).on("click", ".selectPage", function () {
                if ($(this).parent().hasClass('active')) {
                    return;
                }
                goCommentPage($(this).text() - 1);
            })
            //댓글 이미지 확대
            $(document).on("click", ".zoom-in", function () {
                $(this).attr("width", "");
                $(this).attr("height", "");
                $(this).toggleClass("zoom-in");
                $(this).toggleClass("zoom-out");
            });
            //댓글 이미지 축소
            $(document).on("click", ".zoom-out", function () {
                $(this).attr("width", "130");
                $(this).attr("height", "130");
                $(this).toggleClass("zoom-in");
                $(this).toggleClass("zoom-out");
            });
            //댓글 삭제
            $(document).on("click", ".commentDelete", function () {
                $.ajax({
                    url: "/comment/delete",
                    type: "delete",
                    dateType: "json",
                    data:{
                        commentId:$(this).parent().parent().attr('id')
                    },
                    success: function (data) {
                        alert("댓글이 삭제되었습니다.")
                        getCommentList();
                    }
                    , error: function () {
                        alert('오류');
                    }
                })
            });
            $(document).on("click", ".commentUpdate", function () {
                alert($(this).parent().parent().attr('id'));
            });

            //여기 있던 신고 메소드들은 reportJS.js 파일으로 옮김 (재활용 위해) 23.01.04 박채원
        });
        let loginId;
        let authorities;
        let nowPage;
        setThumbnail = function (event) {
            let from = Array.from(event.target.files);
            $('#thumbnailImg').empty();
            $.each(from, function (idx, el) {
                let reader = new FileReader();
                reader.onload = function (event) {
                    $("#thumbnailImg").attr("src", event.target.result);
                    $("#thumbnailImgDiv").removeClass('d-none');
                };
                reader.readAsDataURL(el);
            });
        }
        //댓글 전송
        submitComment = function () {
            let commentSercretRes = "";
            if ($("#lockIcon").hasClass("bi-lock-fill")) {
                commentSercretRes = "Y";
            } else {
                commentSercretRes = "N";
            }
            let submitData = {
                communityId: $(location).attr('pathname').substring(11),
                commentContent: $("#commentContent").val(),
                commentSecret: commentSercretRes,
            }
            // alert($('#inputFile').val())
            let formData = new FormData();
            formData.append("commentInsertDTO", new Blob([JSON.stringify(submitData)], {type: "application/json"}));
            formData.append("commentImg", $('#inputFile').get(0).files[0]);

            $.ajax({
                url: "/comment/insert",
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log('success');
                    getCommentList();
                    $("#commentContent").val('');
                    $("#inputFile").val('');
                    $("#thumbnailImgDiv").addClass(' d-none');
                    $("#thumbnailImg").attr("src", "");
                    $('#thumbnailImg').empty();

                }
                , error: function () {
                    alert('오류가 발생하였습니다.');
                }
            });
        }
        //댓글 List가져오기
        getCommentList = function () {
            $.ajax({
                url: "/comment",
                type: "post",
                data: {communityId: $(location).attr('pathname').substring(11)},
                dateType: "json",
                success: function (data) {
                    showList(data);
                    showPage(data);
                    nowPage = data.number;
                }
                , error: function () {
                    alert('오류가 발생하였습니다.');
                }
            })
        }
        getLoginId = function () {
            $.ajax({
                url: "/getLoginId",
                type: "post",
                dateType: "json",
                async: false,
                success: function (data) {
                    if (data.length > 0) {
                        loginId = data[0];
                        authorities = data[1];
                    }
                    // alert(data[1])
                    // alert(data[0])
                }
                , error: function () {
                    alert('오류');
                }
            })
        }
        showList = function (data) {
            let str = '';
            $.each(data.content, function (idx, val) {
                str += '<div class="px-5 py-3'
                if (val.memberId === loginId) {
                    str += ' bg-light'
                }
                str += '">'
                if (val.commentSecret === "Y") {
                    if (val.memberId === loginId || $("#postsMemberId").text() === loginId || authorities === "[ROLE_ADMIN]") {
                        str += '<div class="d-inline-block me-2">'
                        if (val.memberImg == 0) {
                            str += '<img class="rounded-circle border border-1" src="/img/profile.jpg" ' +
                                'width="60" height="60" style="object-fit:cover">'
                        } else {
                            str += '<img class="rounded-circle border border-1" src="/image/' + val.memberImg + '"' +
                                'width="60" height="60" style="object-fit:cover">'
                        }
                        str += '</div>'
                        str += '<div class="d-inline-block align-middle">'
                        str += '<div class="dropdown me-1 d-inline-block">'
                        str += '<a href="javascript:" role="button" data-bs-toggle="dropdown" aria-expanded="false">' + val.memberId + '</a>'
                        str += '<ul class="dropdown-menu" style="min-width: auto;">'
                        str += '<li><a class="dropdown-item" href="javascript:">회원정보</a></li>'
                        str += '<li><a class="dropdown-item" href="javascript:">작성글보기</a></li>'
                        if (val.memberId !== loginId) {
                            str += '<li><a class="dropdown-item sendMessage" href="javascript:">쪽지보내기</a></li>'
                            // str += '<li><a class="dropdown-item memberReport" href="javascript:">신고하기</a></li>'
                            str += '<li><button type="button" class="dropdown-item memberReport"\n' +
                                '                                    data-bs-toggle="modal" data-bs-target="#addReportModal"\n' +
                                '                                    title="신고하기">신고하기\n' +
                                '                            </button></li>'
                        }
                        str += '</ul>'
                        str += '</div>'
                        str += '<span class="float-none mx-1">' + val.modifiedDate + '</span>'
                        str += '<p class="pt-0 m-0">'
                        str += '<i class="bi bi-lock-fill text-secondary me-1"></i>'
                        str += '<span>' + val.commentContent + '</span>'
                        str += '</p>'
                        str += '</div>'
                        str += '<div class="dropdown mt-2 float-end">'
                        str += '<button class="btn btn-link2" type="button" data-bs-toggle="dropdown">'
                        str += '<i class="bi bi-three-dots-vertical m-auto fs-5"></i></button>'
                        str += `<ul id="${val.commentId}" class="dropdown-menu" style="min-width:auto;">`
                        str += `<li><a class="dropdown-item" href="javascript:">답글</a></li>`
                        if (val.memberId === loginId) {
                            str += '<li><a class="dropdown-item commentUpdate" href="javascript:">수정</a></li>'
                            str += '<li><a class="dropdown-item commentDelete" href="javascript:">삭제</a></li>'
                        }
                        str += '</ul></div>'
                        if (val.commentImg != 0) {
                            str += '<div class="ms-6">'
                            str += '<img src="/image/' + val.commentImg + '" class="zoom-in"' +
                                'width="130" height="130" style="object-fit: cover;">'
                            str += '</div>'
                        }
                    } else {
                        str += '<div class="d-inline-block align-middle">'
                        str += '<i class="bi bi-lock-fill text-secondary me-1"></i>'
                        str += '<span class="pt-0 m-0">해당 댓글은 작성자와 운영자만 볼 수 있습니다.</span>'
                        str += '<span class="float-none mx-1">' + val.modifiedDate + '</span>'
                        str += '</div>'
                    }
                } else if (val.commentSecret === "N") {
                    str += '<div class="d-inline-block me-2">'
                    if (val.memberImg == 0) {
                        str += '<img class="rounded-circle border border-1" src="/img/profile.jpg" ' +
                            'width="60" height="60" style="object-fit:cover">'
                    } else {
                        str += '<img class="rounded-circle border border-1" src="/image/' + val.memberImg + '"' +
                            'width="60" height="60" style="object-fit:cover">'
                    }
                    str += '</div>'
                    str += '<div class="d-inline-block align-middle">'
                    str += '<div class="dropdown me-1 d-inline-block">'
                    str += '<a href="javascript:" role="button" data-bs-toggle="dropdown" aria-expanded="false">' + val.memberId + '</a>'
                    str += '<ul class="dropdown-menu" style="min-width: auto;">'
                    str += '<li><a class="dropdown-item" href="javascript:">회원정보</a></li>'
                    str += '<li><a class="dropdown-item" href="javascript:">작성글보기</a></li>'
                    if (val.memberId !== loginId) {
                        str += '<li><a class="dropdown-item" href="javascript:">쪽지보내기</a></li>'
                        // str += '<li><a class="dropdown-item memberReport" href="javascript:">신고하기</a></li>'
                        str += '<li><button type="button" class="dropdown-item memberReport"\n' +
                            '                                    data-bs-toggle="modal" data-bs-target="#addReportModal"\n' +
                            '                                    title="신고하기">신고하기\n' +
                            '                            </button></li>'
                    }
                    str += '</ul>'
                    str += '</div>'
                    str += '<span class="float-none mx-1">' + val.modifiedDate + '</span>'
                    str += '<p class="pt-0 m-0"><span>' + val.commentContent + '</span></p>'
                    str += '</div>'
                    str += '<div class="dropdown mt-2 float-end">'
                    str += '<button class="btn btn-link2" type="button" data-bs-toggle="dropdown">'
                    str += '<i class="bi bi-three-dots-vertical m-auto fs-5"></i></button>'
                    str += `<ul id="${val.commentId}"class="dropdown-menu" style="min-width:auto;">`
                    str += `<li><a class="dropdown-item" href="javascript:">답글</a></li>`
                    if (val.memberId === loginId) {
                        str += '<li><a class="dropdown-item commentUpdate" href="javascript:">수정</a></li>'
                        str += '<li><a class="dropdown-item commentDelete" href="javascript:">삭제</a></li>'
                    }
                    str += '</ul></div>'
                    if (val.commentImg != 0) {
                        str += '<div class="ms-6">'
                        str += '<img src="/image/' + val.commentImg + '" class="zoom-in"' +
                            'width="130" height="130" style="object-fit: cover;">'
                        str += '</div>'
                    }
                }
                str += '</div>'
                str += '<hr class="m-0">'
            });
            $("#commentListSize").text(data.length);
            $("#commentList").html(str);
        }
        showPage = function (data) {
            let str = '';
            if (data.totalPages > 0) {
                str += '<div aria-label="Page navigation" class="mt-4">'
                str += '<ul class="pagination justify-content-center">'
                if (data.first) {
                    str += '<li id="prevPage" class="page-item disabled">'
                    str += '<a class="page-link" href="javascript:" style="pointer-events: none;">'
                    str += '<span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>'
                    str += '</a>'
                    str += '</li>'
                } else {
                    str += '<li id="prevPage" class="page-item">'
                    str += '<a class="page-link" href="javascript:">'
                    str += '<span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>'
                    str += '</a>'
                    str += '</li>'
                }

                if (data.totalPages <= 5) {
                    for (var i = 1; i <= data.totalPages; i++) {
                        str += '<li class="page-item'
                        if (data.number + 1 === i) {
                            str += ' active'
                        }
                        str += '">'
                        str += '<a class="page-link selectPage" href="javascript:"><span>' + i + '</a>'
                        str += '</li>'
                    }
                }
                if (data.totalPages > 5 && data.totalPages <= 10) {
                    if (data.number + 1 <= 5) {
                        for (var i = 1; i <= 5; i++) {
                            str += '<li class="page-item'
                            if (data.number + 1 === i) {
                                str += ' active'
                            }
                            str += '">'
                            str += '<a class="page-link selectPage" href="javascript:"><span>' + i + '</a>'
                            str += '</li>'
                        }
                        str += '<li class="page-item disabled"><a class="page-link">...</a></li>'
                        str += '<li class="page-item"><a class="page-link selectPage" href="javascript:">' + data.totalPages + '</a></li>'

                    }
                    if (data.number + 1 > 5) {
                        str += '<li class="page-item"><a class="page-link selectPage" href="javascript:">1</a></li>'
                        str += '<li class="page-item disabled"><a class="page-link">...</a></li>'
                        for (var i = 6; i <= data.totalPages; i++) {
                            str += '<li class="page-item'
                            if (data.number + 1 === i) {
                                str += ' active'
                            }
                            str += '">'
                            str += '<a class="page-link selectPage" href="javascript:"><span>' + i + '</a>'
                            str += '</li>'
                        }
                    }
                }
                if (data.totalPages > 10) {
                    if (data.number + 1 <= 5) {
                        for (var i = 1; i <= 5; i++) {
                            str += '<li class="page-item'
                            if (data.number + 1 === i) {
                                str += ' active'
                            }
                            str += '">'
                            str += '<a class="page-link selectPage" href="javascript:"><span>' + i + '</a>'
                            str += '</li>'
                        }
                        str += '<li class="page-item disabled"><a class="page-link">...</a></li>'
                        str += '<li class="page-item"><a class="page-link selectPage" href="javascript:">' + data.totalPages + '</a></li>'
                    }
                    if (data.number + 1 > 5 && data.number + 1 < data.totalPages - 4) {
                        str += '<li class="page-item"><a class="page-link selectPage" href="javascript:">1</a></li>'
                        str += '<li class="page-item disabled"><a class="page-link">...</a></li>'
                        for (var i = data.number + 1 - 2; i <= data.number + 1 + 2; i++) {
                            str += '<li class="page-item'
                            if (data.number + 1 === i) {
                                str += ' active'
                            }
                            str += '">'
                            str += '<a class="page-link selectPage" href="javascript:"><span>' + i + '</a>'
                            str += '</li>'
                        }
                        str += '<li class="page-item disabled"><a class="page-link">...</a></li>'
                        str += '<li class="page-item"><a class="page-link selectPage" href="javascript:">' + data.totalPages + '</a></li>'
                    }
                    if (data.number + 1 >= data.totalPages - 4) {
                        str += '<li class="page-item"><a class="page-link selectPage" href="javascript:">1</a></li>'
                        str += '<li class="page-item disabled"><a class="page-link">...</a></li>'

                        for (var i = data.totalPages - 4; i <= data.totalPages; i++) {
                            str += '<li class="page-item'
                            if (data.number + 1 === i) {
                                str += ' active'
                            }
                            str += '">'
                            str += '<a class="page-link selectPage" href="javascript:"><span>' + i + '</a>'
                            str += '</li>'
                        }
                    }
                }

                if (data.last) {
                    str += '<li id="nextPage" class="page-item disabled">'
                    str += '<a class="page-link" href="javascript:" style="pointer-events: none;">'
                    str += '<span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>'
                    str += '</a>'
                    str += '</li>'
                } else {
                    str += '<li id="nextPage" class="page-item">'
                    str += '<a class="page-link" href="javascript:">'
                    str += '<span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>'
                    str += '</a>'
                    str += '</li>'
                }
                str += '</ul>'
                str += '</div>'
            }
            $("#commentPage").html(str);
        }
        goCommentPage = function (aa) {
            $.ajax({
                url: "/comment/page",
                type: "post",
                data: {
                    pageNum: aa,
                    communityId: $(location).attr('pathname').substring(11)
                },
                dataType: "json",
                success: function (data) {
                    showList(data);
                    showPage(data);
                    nowPage = data.number;
                }
                , error: function () {
                    alert('오류가 발생하였습니다.');
                }
            });
        }
    </script>

</head>
<body>
<th:block th:replace="~{fragment/header :: header}"></th:block>
<hr class="mt-5">
<div class="container-xxl">
    <div class="container p-5">
        <div class="text-center mb-4">
            <p class="fs-5 fw-bold text-primary">Pet A Pet</p>
            <h1 class="display-5 mb-3">Pet Community</h1>
            <hr class="mt-0 mb-3"/>
        </div>
        <div class="col-12" sec:authorize="isAnonymous()">
            <div class="border p-5">
                <h4>커뮤니티 게시판 권한 안내</h4>
                <hr class="mt-1"/>
                <div>
                    <p class="pt-0 mb-0">회원님은 아직 로그인을 하지 않으셨어요. 먼저 로그인을 하시고 이용해주세요.</p>
                    <p class="pt-0 mb-0">petApet 계정이 없다면, 회원가입을 해주세요.</p>
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="button" onclick="location.href='/community'" class="btn btn-info">되돌아가기</button>
                <button type="button" onclick="location.href='/login'" class="btn btn-primary">로그인</button>
                <button type="button" onclick="location.href='/join'" class="btn btn-danger">회원가입</button>
            </div>
        </div>

        <div class="col-12" sec:authorize="isAuthenticated()">
            <div class="border p-5 pb-8">
                <h5><span class="text-danger" th:text="${posts.communityCategory}"/></h5>
                <h4>
                    <span class="me-2" style="color:#888;" th:text="${posts.communitySubCategory}"/>
                    [[${posts.communityTitle}]]</h4>
                <img class="rounded-circle border border-1 me-1 my-1"
                     th:src="${posts.memberImg}==0? '/img/profile.jpg':'/image/'+${posts.memberImg}"
                     width="50" height="50" style="object-fit: cover;">
                <div class="dropdown mx-1 d-inline-block">
                    <a href="javascript:" id="postsMemberId" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" th:text="${posts.memberId}"/>
                    <ul class="dropdown-menu" style="min-width: auto;">
                        <li><a class="dropdown-item" href="javascript:">회원정보</a></li>
                        <li><a class="dropdown-item" href="javascript:">작성글보기</a></li>
                        <li th:unless="${#authentication.name == posts.memberId}">
                            <a class="dropdown-item" href="javascript:">쪽지보내기</a>
                        </li>
                        <li th:unless="${#authentication.name == posts.memberId}">
<!--                            <a class="dropdown-item memberReport" href="javascript:">신고하기</a>-->
                            <button type="button" class="dropdown-item memberReport" id="addProductReport"
                                    data-bs-toggle="modal" data-bs-target="#addReportModal"
                                    title="신고하기">신고하기
                            </button>
                        </li>
                    </ul>
                </div>
                <span class="mx-1" th:text="'조회 '+${posts.viewCount}"/>
                <span class="mx-1" th:text="${#temporals.format(posts.modifiedDate,'yyyy-MM-dd HH:mm')}"/>
                <span>댓글</span>
                <span id="commentListSize" class="text-danger" th:text="${posts.commentListSize}"/>
                <div class="float-end mt-2">
                    <button id="postsUpdate"
                            type="button" class="btn btn-info" th:if="${#authentication.name == posts.memberId}">수정
                    </button>
                    <button id="postsDelete" type="button" class="btn btn-danger"
                            th:if="${#authentication.name == posts.memberId}">삭제
                    </button>
                    <div class="dropdown mx-1 d-inline-block">
                        <a href="javascript:" role="button" data-bs-toggle="dropdown" class="btn btn-link2 p-0"
                           aria-expanded="false"><i class="bi bi-three-dots-vertical m-auto fs-5"></i></a>
                        <ul class="dropdown-menu" style="min-width: auto;">
                            <li>
<!--                                <a id="communityReport" class="dropdown-item" href="javascript:">신고</a>-->
                                <button type="button" class="dropdown-item communityReport"
                                        data-bs-toggle="modal" data-bs-target="#addReportModal"
                                        title="신고">신고
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr class="mt-1 mb-4"/>
                <div id="postsContent" th:utext="${posts.communityContent}"/>
            </div>
            <div class="bg-lightGray pt-1 pb-5">
                <div id="commentList" th:if="${posts.commentListSize} != 0"></div>
                <div id="commentPage" th:if="${posts.commentListSize} != 0"></div>

                <div class="bg-white m-5 p-4 pt-2" sec:authorize="hasAnyRole('MEMBER','ADMIN')">
                        <textarea id="commentContent" style="resize:none; height: 100px; border:none;"
                                  class="w-100 form-control px-1 "
                                  placeholder="인터넷은 우리가 함께 만들어가는 소중한 공간입니다. 댓글 작성 시 타인에 대한 배려와 책임을 담아주세요."
                                  maxlength="600"></textarea>
                    <div id="thumbnailImgDiv" class="my-3 position-relative w-fit-content d-none">
                        <img id="thumbnailImg" class="border" width="150" height="150" style="object-fit: cover;">
                        <button id="imgRemoveBtn" type="button"
                                class="btn-close btn-close-white bg-dark position-absolute top-0 end-0 rounded-0"
                                aria-label="Close"></button>
                    </div>
                    <input type="file" id="inputFile" class="form-control d-none"
                           onchange="setThumbnail(event)" accept=".gif, .jpg, .png">
                    <div class="text-end mt-2">
                        <button id="commentImgBtn" class="btn btn-link2 float-start p-0">
                            <i class="bi bi-image fs-4 mt-3"></i>
                        </button>
                        <span id="commentLength">0</span><span
                            class="text-grey">/600</span>
                        <button id="lockBtn" class="btn btn-link2 mx-2 p-0 ">
                            <i id="lockIcon" class="bi bi-unlock-fill fs-4 m-0"></i>
                        </button>
                        <button type="button" id="commentSubmitBtn" class="btn btn-danger text-end">등록</button>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="button" id="communityBtn" class="btn btn-primary">글목록</button>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-dark btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
<th:block th:replace="~{fragment/layout :: mainFooter}"></th:block>

<!-- 신고 Modal -->
<div class="modal" id="addReportModal" tabindex="-1" data-bs-backdrop="false" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-center" id="reportModalTitle"><!-- 모달 제목 --></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>신고 사유를 선택해 주세요</h6>
                <input type="hidden" id="modalTargetId"> <!-- 신고대상의 id -->
                <div class="reportModalReason"></div>
                <hr>
                <h6>구체적인 사유를 작성해 주세요</h6>
                <textarea class="form-control" name="reportReasonDetail" rows="3"
                          placeholder="구체적인 신고 사유 입력"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="reportBTN">신고하기</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>