<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment/saron_base :: base(~{::title},~{::link},~{::script})">
    <title>petApet - 커뮤니티</title>
    <link>
    <script th:src="@{/js/community/comment.js}"></script>
    <script type="text/javascript" th:src="@{/js/reportJS.js}"></script>
    <script>
        $(function () {
            getCommunityTitle();
        });
        getCommunityTitle = function () {
            $.ajax({
                url: "/community/getCommunityTitle",
                type: "post",
                data: {communityId: $(location).attr('pathname').split("/")[2]},
                dateType: "json",
                success: function (data) {
                    $("#communityTitle").text(data.communityTitle);
                    postsMemberId = data.memberId;
                }
                , error: function () {
                    alert('오류가 발생하였습니다.');
                }
            })
        }
    </script>
    <script th:src="@{/js/member/getLoginInfo.js}"></script>
    <script th:src="@{/js/community/goCommunityMemberInfo.js}"></script>
    <script th:src="@{/js/community/paginationJS.js}"></script>
</head>
<body>
<div class="mx-5 mt-3">
    <h4 id="communityTitle" class="my-3">글제목</h4>
<!--    <h4 id="postsMemberId" class="my-3 d-none"></h4>-->
    <hr class="m-0 opacity-100">
</div>
<div class="mx-5 mb-3">
    <div class="col-12" sec:authorize="isAnonymous()">
        <div class="border p-5">
            <h4>커뮤니티 게시판 권한 안내</h4>
            <hr class="mt-1"/>
            <div>
                <p class="pt-0 mb-0">회원님은 아직 로그인을 하지 않으셨어요. 먼저 로그인을 하시고 이용해주세요.</p>
                <p class="pt-0 mb-0">petApet 계정이 없다면, 회원가입을 해주세요.</p>
            </div>
        </div>
        <div class="text-center mt-3">
            <button type="button" id="commentLoginBtn" class="btn btn-primary">로그인</button>
            <button type="button" id="commentJoinBtn" class="btn btn-danger">회원가입</button>
        </div>
    </div>

    <div class="col-12" sec:authorize="isAuthenticated()">
        <div class="pb-5">
            <div id="commentList"></div>
            <div id="page" class="mt-4"></div>
            <div class="my-5 p-4 pt-2 border border-black border-opacity-10" sec:authorize="hasAnyRole('MEMBER','ADMIN')">
                        <textarea id="commentContent" style="resize:none; height: 100px; border:none;"
                                  class="w-100 form-control px-1"
                                  placeholder="인터넷은 우리가 함께 만들어가는 소중한 공간입니다. 댓글 작성 시 타인에 대한 배려와 책임을 담아주세요."
                                  maxlength="600"></textarea>
                <div id="thumbnailImgDiv" class="my-3 position-relative w-fit-content d-none">
                    <img id="thumbnailImg" class="border" width="150" height="150" style="object-fit: cover;">
                    <button id="imgRemoveBtn" type="button"
                            class="btn-close btn-close-white bg-dark position-absolute top-0 end-0 rounded-0"
                            aria-label="Close"></button>
                </div>
                <input type="file" id="inputFile" class="form-control d-none"
                       onchange="setThumbnail(event)" accept=".gif, .jpg, .png">
                <div class="text-end mt-2">
                    <button id="commentImgBtn" class="btn btn-link2 float-start p-0">
                        <i class="bi bi-image fs-4 mt-3"></i>
                    </button>
                    <span id="commentLength">0</span><span class="text-grey">/600</span>
                    <button id="lockBtn" class="btn btn-link2 mx-2 p-0">
                        <i id="lockIcon" class="bi bi-unlock-fill fs-4 m-0"></i>
                    </button>
                    <button type="button" id="commentSubmitBtn" class="btn btn-danger text-end">등록</button>
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="button" id="closeBtn" class="btn btn-primary">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-dark btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
<!-- 신고 모달 -->
<th:block th:replace="~{fragment/reportModal :: reportModal}"></th:block>
</body>
</html>