<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment/saron_base :: base(~{::title},~{::link},~{::script})">
    <title>petApet - 커뮤니티</title>
    <link>
    <script th:src="@{/js/member/getLoginInfo.js}"></script>
    <script th:src="@{/js/community/goCommunityMemberInfo.js}"></script>
    <script type="text/javascript" th:src="@{/js/reportJS.js}"></script>
    <script th:src="@{/js/community/community.js}"></script>
    <script th:src="@{/js/community/paginationJS.js}"></script>

    <script>
        $(function () {
            //게시판 List
            getCommunityList(nowCommunityCategory, nowPage, nowPageSize);
            //공지사항 List
            getNotice();
            //글쓰기 버튼
            $("#writeBtn").click(function () {
                window.location = "/community/insert";
            });
            //카테고리 선택
            $("#categoryList").children().click(function () {
                getCommunityList($(this).find('a').text(), 0, nowPageSize)
            });
            //목록 개수 선택
            $("#pageSizeList").children().click(function () {
                getCommunityList(nowCommunityCategory, nowPage, $(this).find('span').text())
            });
            //이전 페이지
            $(document).on("click", "#prevPage", function () {
                if ($(this).hasClass('disabled')) {
                    return;
                }
                getCommunityList(nowCommunityCategory, nowPage - 1, nowPageSize);
            });
            //다음 페이지
            $(document).on("click", "#nextPage", function () {
                if ($(this).hasClass('disabled')) {
                    return;
                }
                getCommunityList(nowCommunityCategory, nowPage + 1, nowPageSize);
            });
            //댓글 페이지선택
            $(document).on("click", ".selectPage", function () {
                if ($(this).parent().hasClass('active')) {
                    return;
                }
                getCommunityList(nowCommunityCategory, $(this).text() - 1, nowPageSize);
            });
            //내글보기 버튼
            $("#myPostsBtn").click(function () {
                window.location = "member/writingList";
            });

            $("#noticeCheck").click(function () {
                if ($('#noticeCheck').is(':checked')) {
                    $("#noticeList").hide();
                } else {
                    $("#noticeList").show();
                }
            })

        });
    </script>
</head>
<body>
<th:block th:replace="~{fragment/header :: header}"></th:block>
<!-- start feature1 -->
<hr class="mt-5 border-white">
<div class="container-xxl ">
    <div class="container py-5">
        <div class="text-center">
            <p class="fs-5 fw-bold text-primary">Pet A Pet</p>
            <h1 class="display-5 mb-3">Pet Community</h1>
            <div class="col-12 text-center categoryList">
                <ul id="categoryList" class="list-inline rounded mb-4 community-menu">
                    <li class="mx-2"><a href="javascript:">All</a></li>
                    <li class="mx-2"><a href="javascript:">거래</a></li>
                    <li class="mx-2"><a href="javascript:">추천</a></li>
                    <li class="mx-2"><a href="javascript:">일상</a></li>
                </ul>
            </div>
            <div class="col-12 ">
                <div class="float-start">
                    <p class="pt-2 mb-0">새글<strong id="todayPosts" class="mx-1"></strong>/
                        <span id="totalElements" class="ms-1"></span></p>
                </div>
                <div class="dropdown">
                    <a class="btn btn-link dropdown-toggle float-end" href="javascript:" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">목록 <span id="pageSize"></span>개</a>
                    <ul id="pageSizeList" class="dropdown-menu" style="min-width: auto;">
                        <li><a class="dropdown-item" href="javascript:">목록 <span>10</span>개</a></li>
                        <li><a class="dropdown-item" href="javascript:">목록 <span>20</span>개</a></li>
                        <li><a class="dropdown-item" href="javascript:">목록 <span>30</span>개</a></li>
                        <li><a class="dropdown-item" href="javascript:">목록 <span>40</span>개</a></li>
                        <li><a class="dropdown-item" href="javascript:">목록 <span>50</span>개</a></li>
                    </ul>
                </div>
                <div class="form-check float-end mt-1-7 fw-semibold">
                    <input class="form-check-input" type="checkbox" id="noticeCheck">
                    <label class="form-check-label" for="noticeCheck">공지감추기</label>
                </div>
                <table class="table2 table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-1">번호</th>
                        <th>제목</th>
                        <th class="col-md-2">글쓴이</th>
                        <th class="col-md-2">작성일</th>
                        <th class="col-md-1">조회</th>
                    </tr>
                    </thead>
                    <tbody id="noticeList"></tbody>
                    <tbody id="communityList"></tbody>
                </table>
                <div class="mt-4">
                    <div sec:authorize="hasAnyRole('MEMBER','ADMIN')">
                        <button id="writeBtn" class="btn btn-danger float-start">글쓰기</button>
                        <button id="myPostsBtn" class="btn btn-primary float-end">내글보기</button>
                    </div>
                    <div id="page"></div>
                </div>
                <div class="row mt-6">
                    <div class="col-2 mx-auto me-1 px-0">
                        <select id="type" class="form-select">
                            <option value="titleContent" selected>제목+내용</option>
                            <option value="title">글제목</option>
                            <option value="writer">글작성자</option>
                            <option value="no">글번호</option>
                        </select>
                    </div>
                    <div class="col-3 mx-1 px-0">
                        <input id="searchContent" type="text" class="form-control">
                    </div>
                    <div class="col-1 mx-auto ms-1 px-0 text-start">
                        <button id="findBtn" class="btn btn-primary"><i class="fa fa-search m-0"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-dark btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
<th:block th:replace="~{fragment/layout :: mainFooter}"></th:block>
<!-- 신고 모달 -->
<th:block th:replace="~{fragment/reportModal :: reportModal}"></th:block>
</body>
</html>