<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment/saron_base :: base(~{::title},~{::link},~{::script})">
    <title>petApet - 커뮤니티</title>
    <link>
    <script th:src="@{/js/member/getLoginInfo.js}"></script>
    <script th:src="@{/js/community/goCommunityMemberInfo.js}"></script>
    <script th:src="@{/js/reportJS.js}"></script>
    <script>
        $(function () {
            getLoginId();
            //게시판 List
            getCommunityList(nowCommunityCategory, nowPage, nowPageSize);
            //공지사항 List
            getNotice();
            //글쓰기 버튼
            $("#writeBtn").click(function () {
                window.location = "/community/insert";
            });
            //카테고리 선택
            $("#categoryList").children().click(function () {
                getCommunityList($(this).find('a').text(), 0, nowPageSize)
            });
            //커뮤니티 개수 선택
            $("#pageSizeList").children().click(function () {
                getCommunityList(nowCommunityCategory, nowPage, $(this).find('span').text())
            });
            //댓글 보기
            $(document).on("click", ".badge2", function () {
                window.open("/comment/" + $(this).parent().prev().text().trim(), "_blank", "width=900,height=800,left=0,top=0,location=no");
            });
            //이전 페이지
            $(document).on("click", "#prevPage", function () {
                if ($(this).hasClass('disabled')) {
                    return;
                }
                getCommunityList(nowCommunityCategory, nowPage - 1, nowPageSize);
            });
            //다음 페이지
            $(document).on("click", "#nextPage", function () {
                if ($(this).hasClass('disabled')) {
                    return;
                }
                getCommunityList(nowCommunityCategory, nowPage + 1, nowPageSize);
            });
            //댓글 페이지선택
            $(document).on("click", ".selectPage", function () {
                if ($(this).parent().hasClass('active')) {
                    return;
                }
                getCommunityList(nowCommunityCategory, $(this).text() - 1, nowPageSize);
            });
            //내글보기 버튼
            $("#myPostBtn").click(function () {
                window.location = "/community/update";
            });

            $("#noticeCheck").click(function () {
                if($('#noticeCheck').is(':checked')){
                    $("#noticeList").hide();
                }else{
                    $("#noticeList").show();
                }
            })
        });

        let nowPage;
        let nowCommunityCategory = "all";
        let nowPageSize;
        //게시글 List 가져오는 ajax
        getCommunityList = function (value1, value2, value3) {
            $.ajax({
                url: "/community/getCommunityList",
                type: "post",
                data: {
                    communityCategory: value1.toLowerCase(),
                    pageNum: value2,
                    pageSize: value3,
                },
                dateType: "json",
                success: function (data) {
                    // console.log(data);
                    nowCommunityCategory = value1.toLowerCase();
                    nowPage = data.number;
                    nowPageSize = data.size;
                    showList(data);
                    showPage(data);
                    getTodayPosts(value1);
                    $("#pageSize").text(data.size);
                    $("#totalElements").text(data.totalElements);
                    $("#categoryList").find('a').parent().removeClass('active')
                    $("#categoryList").find("a:contains(" + nowCommunityCategory.charAt(0).toUpperCase() + ")").parent().addClass('active')
                }
                , error: function () {
                    alert('오류가 발생하였습니다.');
                }
            })
        }
        //새글 갯수 가져오는 ajax
        getTodayPosts = function (value) {
            $.ajax({
                url: "/community/todayPosts",
                type: "post",
                data: {communityCategory: value},
                dateType: "json",
                success: function (data) {
                    $("#totayPosts").text(data);
                }
                , error: function () {
                    alert('오류가 발생하였습니다.');
                }
            })
        }
        //공지사항 List 가져오는 ajax
        getNotice = function () {
            $.ajax({
                url: "/community/getNotice",
                type: "post",
                dateType: "json",
                success: function (data) {
                    showNoticeList(data)
                    console.log(data)
                }
                , error: function () {
                    alert('오류가 발생하였습니다.');
                }
            })
        }
        //게시글 리스트 태그
        showList = function (data) {
            let str = '';
            if (data.content.length === 0) {
                str += `<tr><td class="py-5" colspan="5"><strong>작성된 글이 없습니다</strong></td></tr>`;
            } else {
                $.each(data.content, function (idx, val) {
                    str += `<tr>
                            <td>${val.communityId}</td>
                            <td class="text-start">
                            <a href="/community/${val.communityId}" class="mx-2">`
                    if (nowCommunityCategory === 'all') {
                        str += `<strong class="me-2 text-danger">${val.communityCategory}</strong>`
                    }
                    if (val.communitySubCategory != null) {
                        str += `<strong class="me-2">${val.communitySubCategory}</strong>`
                    }
                    str += `${val.communityTitle}</a>`
                    if (val.commentListSize > 0) {
                        str += `<span class="badge2" role="button">${val.commentListSize}</span>`
                    }
                    str += `<td>
                            <div class="memberDiv dropdown">
                            <a href="javascript:" class="memberId" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ${val.memberId}</a>
                            <ul class="dropdown-menu" style="min-width: auto;">
                            <li><a class="dropdown-item" href="javascript:">회원정보</a></li>
                            <li><a class="dropdown-item" href="javascript:">작성글보기</a></li>`
                    if (val.memberId !== loginId) {
                        str += `<li><a class="dropdown-item sendMessage" href="javascript:">쪽지보내기</a></li>
                            <li><a class="dropdown-item memberReport" href="javascript:">신고하기</a></li>`
                    }
                    str += `</ul>
                            </div>
                            </td>
                            <td>${val.modifiedDate}</td>
                            <td>${val.viewCount}</td>
                            </tr>
                            </td>`
                });
            }
            $("#communityList").html(str);
        }
        showNoticeList = function (data) {
            if (data.length === 0) {
                $("#noticeList").remove();
                return;
            }
            let str = '';
            $.each(data, function (idx, val) {
                str += `<tr class="bg-light fw-bold">
                        <td class="py-1"><botton class="btn btn-dark btn-sm">${val.communityCategory}</botton></td>
                        <td class="text-start">
                        <a href="/community/${val.communityId}" class="mx-2">${val.communityTitle}</a>`
                if (val.commentListSize > 0) {
                    str += `<span class="badge2" role="button">${val.commentListSize}</span>`
                }
                str += `<td>관리자</td>
                        <td>${val.modifiedDate}</td>
                        <td>${val.viewCount}</td>
                        </tr>
                        </td>`
            });
            $("#noticeList").html(str);
        }
        //게시글 페이지네이션 태그
        showPage = function (data) {
            let str = '';
            if (data.totalPages > 0) {
                str += `<div aria-label="Page navigation"><ul class="pagination justify-content-center">`
                if (data.first) {
                    str += `<li id = "prevPage" class = "page-item disabled" >
                            <a class = "page-link" href = "javascript:" style = "pointer-events: none;" >
                            <span aria-hidden = "true"> <i class = "bi bi-chevron-left"></i></span>
                            </a>
                            </li>`
                } else {
                    str += `<li id = "prevPage" class = "page-item">
                            <a class = "page-link" href = "javascript:">
                            <span aria-hidden = "true"><i class = "bi bi-chevron-left"></i></span>
                            </a>
                            </li>`
                }
                if (data.totalPages <= 5) {
                    for (var i = 1; i <= data.totalPages; i++) {
                        str += `<li class = "page-item`
                        if (data.number + 1 === i) {
                            str += ` active`
                        }
                        str += `">
                <a class="page-link selectPage" href="javascript:"><span>${i}</a>
                </li>`
                    }
                }
                if (data.totalPages > 5 && data.totalPages <= 10) {
                    if (data.number + 1 <= 5) {
                        for (var i = 1; i <= 5; i++) {
                            str += `<li class="page-item`
                            if (data.number + 1 === i) {
                                str += ` active`
                            }
                            str += `">
                <a class="page-link selectPage" href="javascript:"><span>${i}</a>
                </li>`
                        }
                        str += `<li class="page-item disabled"><a class="page-link">...</a></li>
                <li class="page-item"><a class="page-link selectPage" href="javascript:">${data.totalPages}</a></li>`

                    }
                    if (data.number + 1 > 5) {
                        str += `<li class="page-item"><a class="page-link selectPage" href="javascript:">1</a></li>
                <li class="page-item disabled"><a class="page-link">...</a></li>`
                        for (var i = 6; i <= data.totalPages; i++) {
                            str += `<li class="page-item`
                            if (data.number + 1 === i) {
                                str += ` active`
                            }
                            str += `">
                <a class="page-link selectPage" href="javascript:"><span>${i}</a>
                </li>`
                        }
                    }
                }
                if (data.totalPages > 10) {
                    if (data.number + 1 <= 5) {
                        for (var i = 1; i <= 5; i++) {
                            str += `<li class="page-item`
                            if (data.number + 1 === i) {
                                str += ` active`
                            }
                            str += `">
                <a class="page-link selectPage" href="javascript:"><span>${i}</a>
                </li>`
                        }
                        str += `<li class="page-item disabled"><a class="page-link">...</a></li>
                <li class="page-item"><a class="page-link selectPage" href="javascript:">${data.totalPages}</a></li>`
                    }
                    if (data.number + 1 > 5 && data.number + 1 < data.totalPages - 4) {
                        str += `<li class="page-item"><a class="page-link selectPage" href="javascript:">1</a></li>
                <li class="page-item disabled"><a class="page-link">...</a></li>`
                        for (var i = data.number + 1 - 2; i <= data.number + 1 + 2; i++) {
                            str += `<li class="page-item`
                            if (data.number + 1 === i) {
                                str += ` active`
                            }
                            str += `">
                <a class="page-link selectPage" href="javascript:"><span>${i}</a>
                </li>`
                        }
                        str += `<li class="page-item disabled"><a class="page-link">...</a></li>
                <li class="page-item"><a class="page-link selectPage" href="javascript:">${data.totalPages}</a></li>`
                    }
                    if (data.number + 1 >= data.totalPages - 4) {
                        str += `<li class="page-item"><a class="page-link selectPage" href="javascript:">1</a></li>
                <li class="page-item disabled"><a class="page-link">...</a></li>`

                        for (var i = data.totalPages - 4; i <= data.totalPages; i++) {
                            str += `<li class="page-item`
                            if (data.number + 1 === i) {
                                str += ` active`
                            }
                            str += `">
                <a class="page-link selectPage" href="javascript:"><span>${i}</a>
                </li>`
                        }
                    }
                }

                if (data.last) {
                    str += `<li id="nextPage" class="page-item disabled">
                <a class="page-link" href="javascript:" style="pointer-events: none;">
                <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                </a>
                </li>`
                } else {
                    str += `<li id="nextPage" class="page-item">
                <a class="page-link" href="javascript:">
                <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                </a>
                </li>`
                }
                str += `</ul></div>`
            }
            $("#communityPage").html(str);
        }
    </script>
</head>
<body>
<th:block th:replace="~{fragment/header :: header}"></th:block>
<!-- start feature1 -->
<hr class="mt-5">
<div class="container-xxl ">
    <div class="container py-5">
        <div class="text-center">
            <p class="fs-5 fw-bold text-primary">Pet A Pet</p>
            <h1 class="display-5 mb-3">Pet Community</h1>
            <div class="col-12 text-center">
                <ul id="categoryList" class="list-inline rounded mb-4 community-menu">
                    <li class="mx-2"><a href="javascript:">All</a></li>
                    <li class="mx-2"><a href="javascript:">거래</a></li>
                    <li class="mx-2"><a href="javascript:">추천</a></li>
                    <li class="mx-2"><a href="javascript:">일상</a></li>
                </ul>
            </div>
            <div class="col-12">
                <div class="float-start">
                    <p class="pt-2 mb-0">새글<strong id="totayPosts" class="mx-1"></strong>/<span id="totalElements"
                                                                                                class="ms-1"></span></p>
                </div>
                <div class="dropdown">
                    <a class="btn btn-link dropdown-toggle float-end" href="javascript:" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">목록 <span id="pageSize"></span>개</a>
                    <ul id="pageSizeList" class="dropdown-menu" style="min-width: auto;">
                        <li><a class="dropdown-item" href="javascript:">목록 <span>10</span>개</a></li>
                        <li><a class="dropdown-item" href="javascript:">목록 <span>20</span>개</a></li>
                        <li><a class="dropdown-item" href="javascript:">목록 <span>30</span>개</a></li>
                        <li><a class="dropdown-item" href="javascript:">목록 <span>40</span>개</a></li>
                        <li><a class="dropdown-item" href="javascript:">목록 <span>50</span>개</a></li>
                    </ul>
                </div>
                <div class="form-check form-check-inline float-end mt-05">
                    <input class="form-check-input" type="checkbox" id="noticeCheck">
                    <label class="form-check-label" for="noticeCheck">공지감추기</label>
                </div>
                <table class="table2 table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-1">번호</th>
                        <th>제목</th>
                        <th class="col-md-2">글쓴이</th>
                        <th class="col-md-2">작성일</th>
                        <th class="col-md-1">조회</th>
                    </tr>
                    </thead>
                    <tbody id="noticeList"></tbody>
                    <tbody id="communityList"></tbody>
                </table>
                <div class="mt-4">
                    <div sec:authorize="hasAnyRole('MEMBER','ADMIN')">
                        <button id="writeBtn" class="btn btn-danger float-start">글쓰기</button>
                        <button id="myPostBtn" class="btn btn-primary float-end">내글보기</button>
                    </div>
                    <div id="communityPage"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-2 mx-auto me-1 px-0">
                        <select class="form-control">
                            <option selected>제목+내용</option>
                            <option>글제목</option>
                            <option>글작성자</option>
                        </select>
                    </div>
                    <div class="col-3 mx-1 px-0">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-1 mx-auto ms-1 px-0">
                        <button class="btn btn-primary"><i class="fa fa-search m-0"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-dark btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
<th:block th:replace="~{fragment/layout :: mainFooter}"></th:block>

</body>

</html>