<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment/saron_base :: base(~{::title},~{::link},~{::script})">
    <title>petApet - 커뮤니티</title>
    <link>
    <script th:src="@{/js/member/getLoginInfo.js}"></script>
    <script th:src="@{/js/community/goCommunityMemberInfo.js}"></script>
    <script type="text/javascript" th:src="@{/js/reportJS.js}"></script>
    <script th:src="@{/js/community/community.js}"></script>
    <script>
        $(function () {
            getSearchList(nowPage, nowPageSize, "createdDate")
            $("#type").val(type);
            $("#searchContent").val(searchContent);
            $("#typeRes").text("(" + typeRes(type) + ")");
            $("#searchContentRes").text("'" + searchContent + "'");
            $("input[name=radioCheck]").click(function () {
                if ($("input[name=radioCheck]:checked").val() === "title") {
                    $(".communityContent").hide();
                    $(".communityTitle").removeClass("border-white")
                } else {
                    $(".communityContent").show();
                    $(".communityTitle").addClass("border-white")
                }
            })
            //목록 개수 선택
            $("#pageSizeList").children().click(function () {
                getSearchList(nowPage, $(this).find('span').text(), nowSort)
            });
            //최신순,조회순,댓글순  선택
            $("#sort").children().click(function () {
                getSearchList(nowPage, nowPageSize, $(this).val())
            });
            //댓글 보기
            $(document).on("click", ".badge2", function () {
                window.open("/comment/" + $(this).parent().prev().text().trim(), "_blank", "width=900,height=800,left=0,top=0,location=no");
            });
            //이전 페이지
            $(document).on("click", "#prevPage", function () {
                if ($(this).hasClass('disabled')) {
                    return;
                }
                getSearchList(nowPage - 1, nowPageSize, nowSort);

            });
            //다음 페이지
            $(document).on("click", "#nextPage", function () {
                if ($(this).hasClass('disabled')) {
                    return;
                }
                getSearchList(nowPage + 1, nowPageSize, nowSort);

            });
            //댓글 페이지선택
            $(document).on("click", ".selectPage", function () {
                if ($(this).parent().hasClass('active')) {
                    return;
                }
                getSearchList($(this).text() - 1, nowPageSize, nowSort);
            });
        })

    </script>
</head>
<body>
<th:block th:replace="~{fragment/header :: header}"></th:block>
<!-- start feature1 -->
<hr class="mt-5">
<div class="container-xxl ">
    <div class="container py-5">
        <div class="text-center">
            <p class="fs-5 fw-bold text-primary">Pet A Pet</p>
            <h1 class="display-5 mb-3">Pet Community</h1>
            <div class="mt-5 mb-2">
                <div class="col-6 mx-auto mb-1 text-start">
                    <strong id="searchContentRes" class="text-danger"></strong>
                    <span id="typeRes" class="text-lightGray me-1"></span>
                    <span class="text-dark">검색결과 (총 <span id="totalElements" class="text-danger"></span>건)</span>
                </div>
                <div class="row py-3 bg-light">
                    <div class="col-2 mx-auto me-1 px-0">
                        <select id="type" class="form-select">
                            <option value="titleContent">제목+내용</option>
                            <option value="title">글제목</option>
                            <option value="writer">글작성자</option>
                            <option value="no">글번호</option>
                        </select>
                    </div>
                    <div class="col-3 mx-1 px-0">
                        <input id="searchContent" type="text" class="form-control">
                    </div>
                    <div class="col-1 mx-auto ms-1 px-0 text-start">
                        <button id="findBtn" class="btn btn-primary"><i class="fa fa-search m-0"></i></button>
                    </div>
                </div>
            </div>

            <div class="col-12 ">
                <div class="float-start">
                    <p id="sort" class="pt-2 mb-0 text-gray-400">
                        <button class="btn btn-link2 pe-1 dropdown-toggle" value="createdDate">최신순</button>
                        |
                        <button class="btn btn-link2 px-1 dropdown-toggle" value="size(c.comment)">댓글순</button>
                        |
                        <button class="btn btn-link2 ps-1 dropdown-toggle" value="viewCount">조회순</button>
                    </p>
                </div>
                <div class="dropdown">
                    <a class="btn btn-link dropdown-toggle float-end mt-2" href="javascript:" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">목록 <span id="pageSize">20</span>개</a>
                    <ul id="pageSizeList" class="dropdown-menu" style="min-width: auto;">
                        <li><a class="dropdown-item" href="javascript:">목록 <span>10</span>개</a></li>
                        <li><a class="dropdown-item" href="javascript:">목록 <span>20</span>개</a></li>
                        <li><a class="dropdown-item" href="javascript:">목록 <span>30</span>개</a></li>
                        <li><a class="dropdown-item" href="javascript:">목록 <span>40</span>개</a></li>
                        <li><a class="dropdown-item" href="javascript:">목록 <span>50</span>개</a></li>
                    </ul>
                </div>
                <div class="float-end mt-2">
                    <div class="form-check form-check-inline me-1 mt-1-7">
                        <input class="form-check-input" type="radio" name="radioCheck" value="title" id="radio1">
                        <label class="form-check-label" for="radio1">제목</label>
                    </div>
                    <div class="form-check form-check-inline me-1">
                        <input class="form-check-input" type="radio" name="radioCheck" value="titleContent" id="radio2"
                               checked>
                        <label class="form-check-label" for="radio2">제목+내용</label>
                    </div>
                </div>
                <table class="table2 table-responsive">
                    <thead>
                    <tr>
                        <th class="col-md-1">번호</th>
                        <th>제목</th>
                        <th class="col-md-2">글쓴이</th>
                        <th class="col-md-2">작성일</th>
                        <th class="col-md-1">조회</th>
                    </tr>
                    </thead>
                    <tbody id="list"></tbody>
                </table>
                <div class="mt-4">
                    <div id="page"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-dark btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
<th:block th:replace="~{fragment/layout :: mainFooter}"></th:block>
<!-- 신고 모달 -->
<th:block th:replace="~{fragment/reportModal :: reportModal}"></th:block>
</body>
</html>