<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment/saron_base :: base(~{::title},~{::link},~{::script})">
    <title>petApet - 커뮤니티</title>
    <link>
    <script></script>
    <script th:inline="javaScript">
        let cIdComment = [[${posts.communityId}]]
        let loginId = [[${#authentication.name}]]

        function setThumbnail(event) {
            let from = Array.from(event.target.files);
            // $('#thumbnailImg').empty();
            $.each(from, function (idx, el) {
                let reader = new FileReader();
                reader.onload = function (event) {
                    $("#thumbnailImg").attr("class","my-3");
                    let img = document.createElement("img");
                    // let btn = doc
                    img.setAttribute("src", event.target.result);
                    img.setAttribute('class','border');
                    img.setAttribute('width','200');
                    img.setAttribute('height','200');
                    $("#thumbnailImg").html(img);
                };
                reader.readAsDataURL(el);
            });
            // updateProfile();
        }

        // let updateProfile = () =>{
        //     let newMemberImg = $('#inputFile').get(0).files[0];
        //     let formData = new FormData();
        //     // formData.append('originalMemberImg', memberImg);
        //     formData.append('memberImg', newMemberImg);
        //     $.ajax({
        //         type: "POST",
        //         url: "/updateMemberImg",
        //         data: formData,
        //         processData: false,
        //         contentType: false,
        //         success: function () {
        //             // alert("수정완");
        //         },
        //         error: function () {
        //             console.log("통신 오류");
        //             window.location = "member/checkInfo";
        //         }
        //     });
        // }
        submitComment = function () {
            let formData = new FormData();
            formData.append('communityId', cIdComment);
            formData.append('commentContent', $("#commentContent").val());
            formData.append('commentImg', $('#inputFile').get(0).files[0]);
            $.ajax({
                url: "/comment/insert",
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                dateType: "json",
                // contentType: "application/json",
                success: function (data) {
                    console.log('success');
                    getCommentList();
                    $("#commentContent").val('');
                }
                , error: function () {
                    alert('오류가 발생하였습니다.');
                }
            })
        }
        getCommentList = function () {
            $.ajax({
                url: "/comment",
                type: "post",
                data: {communityId: cIdComment},
                dateType: "json",
                success: function (data) {
                    showList(data);
                }
                , error: function () {
                    alert('오류가 발생하였습니다.');
                }
            })
        }
        showList = function (data) {
            let str = '';
            $.each(data, function (idx, val) {
                str += "<div class='px-5 py-4 ";
                if (loginId == val.memberId) {
                    str += "bg-light";
                }
                str += "'>";
                str += "<div class='d-inline-block me-2'><img class='rounded-circle border border-1'"
                if (val.memberImg == 0) {
                    str += "src ='/img/profile.jpg'"
                } else {
                    str += "src =/image/" + val.memberImg + "'"
                }
                str += "width='60' height='60' style='object-fit:cover'></div>";
                str += "<div class='d-inline-block align-middle'><Strong class='text-primary'>" + val.memberId + "</Strong>";
                str += "<span class='float-none mx-3'>" + val.commentDate + "</span>";
                str += "<p class='pt-0 m-0'>" + val.commentContent + "</p></div>";
                str += "<div class='dropdown mt-2 float-end'>"
                str += "<button class='btn btn-link2' type='button' data-bs-toggle='dropdown'>"
                str += "<i class='bi bi-three-dots-vertical m-auto fs-5'></i></button>"
                str += "<ul class='dropdown-menu' style='min-width:auto;'>"
                str += "<li><a class='dropdown-item' href='#'>답글</a></li>"
                if (loginId == val.memberId) {
                    str += "<li><a class='dropdown-item' href='#'>수정</a></li>"
                    str += "<li><a class='dropdown-item' href='#'>삭제</a></li>"
                }
                str += "</ul></div></div><hr class='m-0'>";
            });
            $("#commentListSize").text(data.length);
            $("#commentList").html(str);
        }
        $(function () {
            getCommentList();
            $("#writeBtn").click(function () {
                window.location = "/community/insert"
            });
            $("#commentContent").keyup(function () {
                $("#commentLength").text($("#commentContent").val().length);
            });
            $("#commentBtn").click(function () {
                if ($("#commentContent").val() == '') {
                    alert("내용을 입력해주세요");
                    return;
                } else {
                    submitComment();
                }
            });
            $("#lockBtn").click(function () {
                $("#lockIcon").toggleClass("bi-unlock-fill");
                $("#lockIcon").toggleClass("text-gray");
                $("#lockIcon").toggleClass("bi-lock-fill");
                $("#lockIcon").toggleClass("text-danger");
            });
            $("#commentImgBtn").click(function () {
                $("#inputFile").click();
            })
        });
    </script>

</head>
<body>
<th:block th:replace="~{fragment/header :: header}"></th:block>
<hr class="mt-5">
<div class="container-xxl">
    <div class="container p-5">
        <div class="text-center mb-4">
            <p class="fs-5 fw-bold text-primary">Pet A Pet</p>
            <h1 class="display-5 mb-3">Pet Community</h1>
            <hr class="mt-0 mb-3"/>
        </div>
        <div class="col-12" sec:authorize="isAnonymous()">
            <div class="border p-5">
                <h4>커뮤니티 게시판 권한 안내</h4>
                <hr class="mt-1"/>
                <div>
                    <p class="pt-0 mb-0">회원님은 아직 로그인을 하지 않으셨어요. 먼저 로그인을 하시고 이용해주세요.</p>
                    <p class="pt-0 mb-0">petApet 계정이 없다면, 회원가입을 해주세요.</p>
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="button" onclick="location.href='/community'" class="btn btn-info">되돌아가기</button>
                <button type="button" onclick="location.href='/login'" class="btn btn-primary">로그인</button>
                <button type="button" onclick="location.href='/join'" class="btn btn-danger">회원가입</button>
            </div>
        </div>

        <div class="col-12" sec:authorize="isAuthenticated()">
            <div class="border p-5 pb-8">
                <h5><span class="text-danger" th:text="${posts.communityCategory}"/></h5>
                <h4>
                    <span class="me-2" style="color:#888;" th:text="${posts.communitySubCategory}"/>
                    [[${posts.communityTitle}]]</h4>
                <img class="rounded-circle border border-1 me-1 my-1"
                     th:src="${posts.memberImg}==0? '/img/profile.jpg':'/image/'+${posts.memberImg}"
                     width="50" height="50" style="object-fit: cover;">
                <strong class="mx-1" th:text="${posts.memberId}"/>
                <span class="mx-1" th:text="'조회 '+${posts.viewCount}"/>
                <span class="mx-1" th:text="${#temporals.format(posts.communityDate,'yyyy-MM-dd HH:mm')}"/>
                <span>댓글</span>
                <span id="commentListSize" class="text-danger" th:text="${posts.commentListSize}"/>
                <hr class="mt-1"/>
                <div th:utext="${posts.communityContent}">
                </div>
            </div>
            <div class="bg-lightGray pt-1 pb-5">
                <div id="commentList">
                    <div class="px-5 py-4 ">
                        <Strong class="text-primary ">test000</Strong><span
                            class="text-grey mx-3">11:00</span>
                        <div class="float-end">
                            <button type="button" class="btn btn-primary">수정</button>
                            <button type="button" class="btn btn-primary">삭제</button>
                        </div>
                        <p class="pt-0 m-0">댓글 내용 적는 부분 테스트입니다.</p>
                    </div>
                    <hr class="m-0">
                </div>
                <div class="bg-white m-5 p-4 pt-2">
                        <textarea id="commentContent" style="resize:none; height: 100px; border:none;"
                                  class="w-100 form-control px-1 "
                                  placeholder="인터넷은 우리가 함께 만들어가는 소중한 공간입니다. 댓글 작성 시 타인에 대한 배려와 책임을 담아주세요."
                                  maxlength="600"></textarea>
                    <div id="thumbnailImg">

                    </div>
                    <input type="file" id="inputFile" class="form-control visually-hidden"
                           accept=".gif, .jpg, .png" onchange="setThumbnail(event);">
                    <div class="text-end mt-2">
                        <button id="commentImgBtn" class="btn btn-link2 float-start p-0">
                            <i class="bi bi-image fs-4 mt-3"></i>
                        </button>
                        <span id="commentLength">0</span><span
                            class="text-grey">/600</span>
                        <button id="lockBtn" class="btn btn-link2 mx-2 p-0 ">
                            <i id="lockIcon" class="bi bi-unlock-fill fs-4 m-0"></i>
                        </button>
                        <button type="button" id="commentBtn" class="btn btn-danger text-end">등록</button>
                    </div>
                </div>
            </div>

            <div class="text-center mt-3">
                <button type="button" onclick="location.href='/community'" class="btn btn-primary">글목록</button>
                <button type="button" class="btn btn-info" th:if="${#authentication.name == posts.memberId}">수정
                </button>
                <button type="button" class="btn btn-danger" th:if="${#authentication.name == posts.memberId}">삭제
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-dark btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
<th:block th:replace="~{fragment/layout :: mainFooter}"></th:block>
</body>
</html>