<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/buy.css" th:href="@{/css/buy.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Favicon -->
    <link href="/img/icon/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/osh.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <style>
        @media screen and (max-width: 1280px) {
            #pap-left-menu {
                display: none;
            }
        }
    </style>
    <title>마이페이지 - 주문목록</title>
</head>

<body style="display: block">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="index.html" th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h3 class="m-0">petApet</h3>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="#" class="nav-item nav-link">About</a>
                <a href="#" class="nav-item nav-link">Services</a>
                <a th:href="@{/product}" class="nav-item nav-link">Product</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Community</a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="#" class="dropdown-item">Test1</a>
                        <a href="#" class="dropdown-item">Test2</a>
                        <a href="#" class="dropdown-item">Test3</a>
                        <a href="#" class="dropdown-item">Test5</a>
                        <a href="404.html" class="dropdown-item">404 Page</a>
                    </div>
                </div>
                <a href="#" class="nav-item nav-link">Contact</a>
                <a href="/login" class="btn btn-primary py-4 px-lg-4 rounded-0 d-none d-lg-block"
                   sec:authorize="isAnonymous()">Login</a>
                <a href="/admin/admininfo" class="btn btn-primary py-4 px-lg-4 rounded-0 d-none d-lg-block"
                   sec:authorize="hasRole('MEMBER')">MyInfo</a>
                <a href="/admin/adminPage" class="btn btn-primary py-4 px-lg-4 rounded-0 d-none d-lg-block"
                   sec:authorize="hasRole('ADMIN')">adminPage</a>
                <a href="/logout" class="btn btn-primary py-4 px-lg-4 rounded-0 d-none d-lg-block"
                   sec:authorize="isAuthenticated()">Logout</a>
                <a href="/logout" class="btn btn-primary py-4 px-lg-4 rounded-0 d-none d-lg-block"
                ><strong th:text="${#authentication.name}"/></a>

                <a href="cart.html" th:href="@{/cart}" class="btn btn-primary py-4 px-lg-4 rounded-0 d-none d-lg-block">Cart</a>
            </div>

        </div>
    </nav>
    <!-- Navbar End -->
    <div id="pap-left-menu">
        <div class="mypage-text">
            <div class="mytext">
                <span class="tspan">
                    <span class="wspan">
                        MY PAP
                    </span>
                </span>
            </div>
        </div>
        <div id="myMenu" class="myMenu">
            <h2 class="sc-1flepkn-0 gvaWmd">petApet</h2>
            <nav>
                <div class="sc-1liba5b-5 jzNnfi">
                    <div class="sc-1liba5b-6 OvTJQ">MY 쇼핑</div>
                    <div class="sc-1liba5b-7 gvMCBX">
                        <ul class="sc-1liba5b-8 McnCE">
                            <li id="mc-order-carts-page" class="sc-1liba5b-9 bgmWPR selected"><a href="cart.html" th:href="@{/cart}"
                                                                                                 title="장바구니" target="_self" class="sc-1liba5b-10 eLReSz">장바구니<span
                                    class="sc-1liba5b-11 fBiFRr"></span></a>
                            </li>
                            <li id="mc-order-list-page" class="sc-1liba5b-9 bgmWPR selected"><a
                                    href="buy.html" th:href="@{/buy}" title="주문목록/배송조회" target="_self"
                                    class="sc-1liba5b-10 eLReSz">주문목록/배송조회<span class="sc-1liba5b-11 fBiFRr"></span></a>
                            </li>
                            <li id="mc-cancel-return-page" class="sc-1liba5b-9 bgmWPR"><a
                                    href="" title="취소/반품/교환/환불내역" target="_self"
                                    class="sc-1liba5b-10 eLReSz">취소/반품/교환/환불내역<span
                                    class="sc-1liba5b-11 fBiFRr"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sc-1liba5b-5 jzNnfi">
                    <div class="sc-1liba5b-6 OvTJQ">MY 활동</div>
                    <div class="sc-1liba5b-7 gvMCBX">
                        <ul class="sc-1liba5b-8 McnCE">
                            <li id="mc-cs-main-page" class="sc-1liba5b-9 bgmWPR"><a href="inquiry.html" th:href="@{/inquiry}"
                                                                                    title="문의하기" target="_self" class="sc-1liba5b-10 eLReSz">문의하기<span
                                    class="sc-1liba5b-11 fBiFRr"></span></a></li>
                            <li id="mc-product-inquiry-list-page" class="sc-1liba5b-9 bgmWPR"><a
                                    href="inquiry.html" th:href="@{/inquiry}" title="문의내역 확인" target="_self"
                                    class="sc-1liba5b-10 eLReSz">문의내역 확인<span class="sc-1liba5b-11 fBiFRr"></span></a>
                            </li>
                            <li id="mc-product-review-page" class="sc-1liba5b-9 bgmWPR"><a
                                    href="" title="리뷰관리" target="_self"
                                    class="sc-1liba5b-10 eLReSz">리뷰관리<span id="productReviewLnbMenuBadge"
                                                                           class="sc-1liba5b-11 fBiFRr" style="display: inline-block;"></span></a></li>
                            <li id="mc-product-wish-page" class="sc-1liba5b-9 bgmWPR"><a
                                    href="" title="찜 리스트" target="_self"
                                    class="sc-1liba5b-10 eLReSz">찜 리스트<span class="sc-1liba5b-11 fBiFRr"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sc-1liba5b-5 jzNnfi">
                    <div class="sc-1liba5b-6 OvTJQ">MY 커뮤니티 활동</div>
                    <div class="sc-1liba5b-7 gvMCBX">
                        <ul class="sc-1liba5b-8 McnCE">
                            <li id="" class="sc-1liba5b-9 bgmWPR"><a href=""
                                                                     title="글 작성" target="_self" class="sc-1liba5b-10 eLReSz">글 작성<span
                                    class="sc-1liba5b-11 fBiFRr"></span></a></li>
                            <li class="sc-1liba5b-9 bgmWPR"><a
                                    href="" title="글 목록" target="_self"
                                    class="sc-1liba5b-10 eLReSz">글 목록<span class="sc-1liba5b-11 fBiFRr"></span></a></li>
                            <li class="sc-1liba5b-9 bgmWPR"><a
                                    href="" title="쪽지함" target="_self"
                                    class="sc-1liba5b-10 eLReSz">쪽지함<span class="sc-1liba5b-11 fBiFRr" style="display: inline-block;"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="sc-1liba5b-5 fRuGsa">
                    <div class="sc-1liba5b-6 OvTJQ">MY 정보</div>
                    <div class="sc-1liba5b-7 gvMCBX">
                        <ul class="sc-1liba5b-8 McnCE">
                            <li id="mc-user-modify-page" class="sc-1liba5b-9 bgmWPR"><a
                                    href="" title="개인정보확인/수정"
                                    target="_self" class="sc-1liba5b-10 eLReSz">개인정보확인/수정<span
                                    class="sc-1liba5b-11 fBiFRr"></span></a>
                            </li>
                            <li id="mc-address-book-page" class="sc-1liba5b-9 bgmWPR"><a
                                    href=""
                                    title="배송지 변경" target="_self" class="sc-1liba5b-10 eLReSz">배송지 변경<span
                                    class="sc-1liba5b-11 fBiFRr"></span></a></li>
                            <li id="mc-coupay-page" class="sc-1liba5b-9 bgmWPR">
                                <a href="" title="회원탈퇴" target="_self"
                                   class="sc-1liba5b-10 eLReSz">
                                    회원 탈퇴<span class="sc-1liba5b-11 fBiFRr"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div id="container">
        <section id="contents" class="contents">
            <div class="__mypage-wrap">
                <div id="__mypage">
                    <div class="pap-contents">
                        <div class="sc-vv7pzb-1 dHwqA-d my-area-contents">
                            <div class="sc-1de9moo-0 jOMCJw">
                                <div class="sc-173hyd4-0 gdQXGY"><span
                                        class="sc-1vjn3x9-2 sc-173hyd4-1 izFbWh QxeWJ">주문목록</span></div>
                                <div class="sc-1lv04u3-0 nmLXi">
                                    <div class="sc-m8svln-0 hzudCe">
                                        <div class="sc-m8svln-1 cyJYiM">
                                            <div class="sc-m8svln-2 eCiRxv"><input value=""
                                                    placeholder="주문한 상품을 검색할 수 있어요!" class="sc-m8svln-3 ktMLQz"></div>
                                            <div class="sc-m8svln-4 dKPECc"><svg xmlns="http://www.w3.org/2000/svg"
                                                    width="20" height="20" viewBox="0 0 24 24" style="fill:#346AFF">
                                                    <g fill="none" fill-rule="evenodd">
                                                        <path fill="#000" fill-opacity="0" d="M0 24L24 24 24 0 0 0z">
                                                        </path>
                                                        <path fill="#346AFF" fill-rule="nonzero"
                                                            d="M11 19.5c4.694 0 8.5-3.806 8.5-8.5S15.694 2.5 11 2.5 2.5 6.306 2.5 11s3.806 8.5 8.5 8.5zm0 1c-5.247 0-9.5-4.253-9.5-9.5S5.753 1.5 11 1.5s9.5 4.253 9.5 9.5-4.253 9.5-9.5 9.5zm6.854-3.354l4.5 4.5c.471.472-.236 1.179-.708.708l-4.5-4.5c-.471-.472.236-1.179.708-.708z">
                                                        </path>
                                                    </g>
                                                </svg></div>
                                        </div>
                                    </div>
                                    <div class="sc-1lv04u3-1 ihglTs">
                                        <div class="sc-py7v18-0 ghaYID">
                                            <div width="72px" class="sc-py7v18-1 dLgQrg">최근 6개월</div>
                                            <div class="sc-py7v18-1 krUtDN">2022</div>
                                            <div class="sc-py7v18-1 krUtDN">2021</div>
                                            <div class="sc-py7v18-1 krUtDN">2020</div>
                                            <div class="sc-py7v18-1 krUtDN">2019</div>
                                            <div class="sc-py7v18-1 krUtDN">2018</div>
                                            <div class="sc-py7v18-1 krUtDN">2017</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sc-qxzqk9-0 iQgKJk">
                                    <div class="sc-fimazj-0 gKYVxm" th:each="buy : ${buyList}">
                                        <div class="sc-abukv2-0 kcHmyx">
                                            <div class="sc-abukv2-1 kSZYgn" th:text="${#temporals.format(buy.buyDate, 'yyyy. MM. dd')}">2022. 9. 13
                                                <!-- -->
                                                <!-- -->주문
                                            </div>
                                            <div class="sc-abukv2-2 kThsCL"><span class="sc-abukv2-3 gSIruC">주문
                                                    상세보기</span><svg width="16" height="16" focusable="false"
                                                    viewBox="0 0 16 16" aria-hidden="true" role="presentation"
                                                    style="fill:#346aff;vertical-align:middle;height:100%">
                                                    <path fill="#346aff" fill-rule="nonzero"
                                                        d="M11.057 8L5.53 13.529c-.26.26-.26.682 0 .942.26.26.682.26.942 0l6-6c.26-.26.26-.682 0-.942l-6-6c-.26-.26-.682-.26-.942 0-.26.26-.26.682 0 .942L11.057 8z">
                                                    </path>
                                                </svg></div>
                                        </div>
                                        <div class="sc-gnmni8-0 hCVtNj">
                                            <table class="sc-gnmni8-1 eSpcfO">
                                                <colgroup>
                                                    <col width="600">
                                                    <col width="">
                                                </colgroup>
                                                <tbody class="sc-gnmni8-2 hryMPB">
                                                    <tr class="sc-gnmni8-3 gmGnuU">
                                                        <td class="sc-gnmni8-5 hUzAOG">
                                                            <div class="sc-ki5ja7-0 bQVZKC">
                                                                <div class="sc-ki5ja7-1 krPkOP"><span font-weight="bold"
                                                                        color="#111111" style="font-size:1.25rem"
                                                                        class="sc-755zt3-0 hullgd">배송완료</span><span
                                                                        size="4" class="sc-13xhsmd-0 SWzAJ"><span
                                                                            size="4"
                                                                            class="sc-13xhsmd-1 kMeFyN"></span></span><span
                                                                        font-weight="normal" color="#00891A"
                                                                        class="sc-755zt3-0 sc-lcvccu-0 jAERXO dhoCVo"
                                                                        th:text="${buy.buyDate}"> 주문 날짜
                                                                        도착</span>
                                                                    <div class="sc-yctqi4-0 cOIBfe">
                                                                        <div class="sc-16dovgh-0 sc-16dovgh-1 cNcuvY epHmvE">
                                                                        </div>
                                                                        <div class="sc-yctqi4-1 foVCUd">
                                                                            <ul class="sc-yctqi4-2 whbuD">
                                                                                <li class="sc-yctqi4-3 YtwcJ"><a
                                                                                        class="sc-yctqi4-4 hurhRo"><span
                                                                                            font-size="14px"
                                                                                            color="#E7223D"
                                                                                            class="delete-order">주문내역
                                                                                            삭제</span></a></li>
                                                                            </ul>
                                                                            <div class="sc-yctqi4-5 heRzqv"><button
                                                                                    class="sc-1k9quwu-0 gUnqaK sc-yctqi4-6 gAMxLy">닫기</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="sc-ki5ja7-2 grCKyH"><button size="28"
                                                                        class="sc-izcbvi-0 bScTTg">
                                                                        <div class="sc-izcbvi-1 JHhgQ"></div>
                                                                        <div class="sc-izcbvi-1 JHhgQ"></div>
                                                                        <div class="sc-izcbvi-1 JHhgQ"></div>
                                                                    </button></div>
                                                            </div>
                                                            <div class="sc-fe2r96-0 hmCrGF"></div>
                                                            <div class="sc-1jiyjbz-0 dGiGeF">
                                                                <div class="sc-gnmni8-9 kCcQTc">
                                                                    <div class="sc-g8964r-0 oRzGt"></div>
                                                                    <div class="sc-9cwg9-1 gLgexz">
                                                                        <div class="sc-9cwg9-2 cNiGzR">
                                                                            <div class="sc-9cwg9-3 eEDOvs"><a
                                                                                    class="sc-1uwk3m0-0 kdlGbA sc-9cwg9-0 gujsmv"
                                                                                    th:href="|@{/product/{productType}/{productId}/details(productType=${buy.product.productDiv.name().toLowerCase()},productId=${buy.product.productId})}|"
                                                                                    ><img width="64"
                                                                                        height="64"
                                                                                        alt="구매 상품 이미지"
                                                                                        th:src="|@{/product/images/{filename}(filename=${buy.product.getProductImg().get(0).getStoreFileName()})}|"
                                                                                        class="sc-1uwk3m0-1 cpDxcj"></a>
                                                                            </div>
                                                                            <div class="sc-9cwg9-5 bmwSdh">
                                                                                <div class="sc-9cwg9-6 jBCCpd"><a
                                                                                        class="sc-gnmni8-10 yma-DD"></a><a
                                                                                        th:href="|@{/product/{productType}/{productId}/details(productType=${buy.product.productDiv.name().toLowerCase()},productId=${buy.product.productId})}|"
                                                                                        class="sc-gnmni8-10 sc-8q24ha-0 yma-DD cvhEhM"><span
                                                                                            color="#111111"
                                                                                            class="sc-755zt3-1 sc-8q24ha-1 inmgHC ifMZxv" th:text="${buy.product.productName}">구매 상품명</span></a><a
                                                                                        class="sc-gnmni8-10 yma-DD"></a><a
                                                                                        class="sc-gnmni8-10 sc-8q24ha-5 yma-DD iDQVMP">
                                                                                        <div class="sc-8q24ha-3 gFbjJh">
                                                                                            <div
                                                                                                class="sc-uaa4l4-0 jxRaeI">
                                                                                                <span
                                                                                                    font-weight="normal"
                                                                                                    class="sc-755zt3-0 kftgZM" data-th-text="${#numbers.formatInteger(buy.product.productPrice, 3, 'COMMA')}+'원'">38,700
                                                                                                    </span><span
                                                                                                    class="sc-13xhsmd-0 kYtEGM"><span
                                                                                                        class="sc-13xhsmd-1 joIhoV"></span></span><span
                                                                                                    class="sc-755zt3-0 jtWNEg" th:text="${buy.quantity}+'개'">1
                                                                                                    개</span></div>
                                                                                        </div>
                                                                                        <div class="sc-8q24ha-4 cUFnye">
                                                                                            <input id="productId" type="text" th:value="${buy.product.getProductId()}" />
                                                                                            <input id="quantity" type="hidden" value="1" />
                                                                                            <button
                                                                                                class="sc-1k9quwu-0 iCTfhh sc-xuyxga-0 bZaQeF"
                                                                                                th:onclick="'javascript:addCart()'">장바구니
                                                                                                담기</button>
                                                                                            <div
                                                                                                class="sc-xuyxga-1 hxalxw">
                                                                                            </div>
                                                                                        </div>
                                                                                    </a>
                                                                                    <div class="sc-fxyxvg-0 igPkOG">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="sc-gnmni8-6 gbTJl">
                                                            <div class="sc-gnmni8-7 bCQoer"><button
                                                                    class="sc-1k9quwu-0 fUUUKW sc-4d0nwb-0 iiEWkt">배송조회</button><button
                                                                    class="sc-1k9quwu-0 fTrGbC sc-gnmni8-8 kiiuoA">교환,
                                                                    반품 신청</button><button
                                                                    class="sc-1k9quwu-0 fTrGbC sc-gnmni8-8 kiiuoA">리뷰
                                                                    작성하기</button></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="sc-h20x0n-0 gcWEbw"></div>
                                    </div>

                                    <div class="sc-1o307be-0 jOhOoP"><button
                                            class="sc-1k9quwu-0 frxcub sc-1o307be-1 dTwpud" disabled=""><svg width="14"
                                                height="14" focusable="false" viewBox="0 0 16 16" aria-hidden="true"
                                                role="presentation" style="fill:#aab5c0;transform:rotate(180deg)">
                                                <path fill="#aab5c0" fill-rule="nonzero"
                                                    d="M11.057 8L5.53 13.529c-.26.26-.26.682 0 .942.26.26.682.26.942 0l6-6c.26-.26.26-.682 0-.942l-6-6c-.26-.26-.682-.26-.942 0-.26.26-.26.682 0 .942L11.057 8z">
                                                </path>
                                            </svg> <!-- -->이전</button><button
                                            class="sc-1k9quwu-0 frxcub sc-1o307be-1 dTwpud">다음
                                            <!-- --> <svg width="14" height="14" focusable="false" viewBox="0 0 16 16"
                                                aria-hidden="true" role="presentation" style="fill:#aab5c0">
                                                <path fill="#aab5c0" fill-rule="nonzero"
                                                    d="M11.057 8L5.53 13.529c-.26.26-.26.682 0 .942.26.26.682.26.942 0l6-6c.26-.26.26-.682 0-.942l-6-6c-.26-.26-.682-.26-.942 0-.26.26-.26.682 0 .942L11.057 8z">
                                                </path>
                                            </svg>
                                        </button></div>
                                </div>
                                <div class="sc-178zqvr-0 eACeud">
                                    <div class="sc-178zqvr-1 hsTKMu">
                                        <div class="sc-178zqvr-2 jTQcSU">
                                            <div class="sc-178zqvr-3 kXhaGH">
                                                <h4 class="sc-178zqvr-4 kCXCvA">배송상품 주문상태 안내</h4>
                                            </div>
                                            <div class="sc-178zqvr-5 dkXmnJ"><a
                                                    href="https://www.coupang.com/np/etc/returnPolicy" target="_blank"
                                                    class="sc-178zqvr-6 fuqhZg">자세한 내용 더보기</a></div>
                                        </div>
                                        <div class="sc-178zqvr-7 dVjHYH">
                                            <div class="sc-178zqvr-8 edyIRv"><i class="sc-178zqvr-9 fnQWVX"></i>
                                                <div class="sc-178zqvr-10 gYDNlI"><span class="i18n-wrapper"><span
                                                            style="color: #111;">주문,결제,확인</span><br><span>이
                                                            완료되었습니다.</span></span></div>
                                            </div>
                                            <div class="sc-178zqvr-8 edyIRv"><i class="sc-178zqvr-9 kNKHIh"></i>
                                                <div class="sc-178zqvr-10 gYDNlI"><span class="i18n-wrapper"><span>판매자가
                                                            발송할</span><br><span style="color: #111;">상품을
                                                            준비중</span><span>입니다.</span></span></div>
                                            </div>
                                            <div class="sc-178zqvr-8 edyIRv"><i class="sc-178zqvr-9 kNKvAf"></i>
                                                <div class="sc-178zqvr-10 gYDNlI"><span class="i18n-wrapper"><span>상품준비가
                                                            완료되어</span><br><span>곧 </span><span
                                                            style="color: #111;">배송</span><span>될 </span><span
                                                            style="color: #111;">예정</span><span>입니다.</span></span></div>
                                            </div>
                                            <div class="sc-178zqvr-8 edyIRv"><i class="sc-178zqvr-9 kNMjwi"></i>
                                                <div class="sc-178zqvr-10 gYDNlI"><span class="i18n-wrapper"><span>상품이
                                                            고객님께</span><br><span
                                                            style="color: #111;">배송중</span><span>입니다.</span></span>
                                                </div>
                                            </div>
                                            <div class="sc-178zqvr-8 edyIRv"><i class="sc-178zqvr-9 kNLvyn"></i>
                                                <div class="sc-178zqvr-10 gYDNlI"><span class="i18n-wrapper"><span>상품이
                                                            주문자에게</span><br><span
                                                            style="color: #111;">전달완료</span><span>되었습니다.</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sc-178zqvr-11 UxXQy">
                                        <div class="sc-178zqvr-12 fQDbaW"><b><i class="sc-178zqvr-13 bQUraS"></i><span
                                                    class="i18n-wrapper"><span style="color: #e52628;">취소/반품/교환
                                                        신청</span>전 확인해주세요!</span></b></div>
                                        <div class="sc-178zqvr-14 bboIjZ"><strong
                                                class="sc-178zqvr-15 fWZpfp">취소</strong></div>
                                        <div class="sc-178zqvr-14 bboIjZ">- <span class="i18n-wrapper">여행/레저/숙박 상품은 취소 시
                                                수수료가 발생할 수 있으며,<br><span style="margin-left:7px;">취소수수료를 확인하여 2일
                                                    이내(주말,공휴일 제외) 처리결과를 문자로 안내해드립니다.</span></span>(
                                            <!-- -->당일 접수 기준, 마감시간 오후 4시
                                            <!-- -->)
                                        </div>
                                        <div class="sc-178zqvr-14 bboIjZ">-
                                            <!-- -->문화 상품은 사용 전날 24시까지 취소 신청 시 취소수수료가 발생되지 않습니다.
                                        </div>
                                        <div class="sc-178zqvr-14 bboIjZ"><strong
                                                class="sc-178zqvr-15 fWZpfp">반품</strong></div>
                                        <div class="sc-178zqvr-14 bboIjZ">-
                                            <!-- -->상품 수령 후 7일 이내 신청하여 주세요.
                                        </div>
                                        <div class="sc-178zqvr-14 bboIjZ">-
                                            <!-- -->
                                            <!-- -->상품이 출고된 이후에는 배송 완료 후, 반품 상품을 회수합니다.
                                        </div>
                                        <div class="sc-178zqvr-14 bboIjZ">-
                                            <!-- -->
                                            <!-- -->설치상품/주문제작/해외배송/신선냉동 상품 등은 고객센터에서만 반품 신청이 가능합니다.
                                            <!-- --> <a href="/ssr/desktop/contact/inquiry" target="_blank"
                                                class="sc-178zqvr-16 jgRggD">1:1문의하기</a>
                                        </div>
                                        <div class="sc-178zqvr-14 bboIjZ"><strong
                                                class="sc-178zqvr-15 fWZpfp">교환</strong></div>
                                        <div class="sc-178zqvr-14 bboIjZ">-
                                            <!-- -->
                                            <!-- -->상품의 교환 신청은 고객센터로 문의하여 주세요.<a href="/ssr/desktop/contact/inquiry"
                                                target="_blank" class="sc-178zqvr-16 jgRggD">1:1문의하기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script th:inline="javascript">
        var urlBuy = "/cart/buyToCart";
        var productId = $("#productId").val();
        var quantityVal  = $("#quantity").val();
        var param = {"product": productId, "quantity": quantityVal};
        function addCart(){
            alert("실행");
            console.log("product : " + productId);
            console.log("quantity : " + quantity);
            $.ajax({
                url: urlBuy,
                type: "POST",
                data: JSON.stringify(param),
                dataType: "text",
                contentType : "application/json",
                charset : "UTF-8",
                success: function (data) {
                    alert("장바구니 추가 되었음!! ")
                },
                error: function (jqXHR, status, errorThrown) {
                    alert("에러");
                }
            });
        }

    </script>
    <script src="js/buy.js" th:src="@{/js/buy.js}"></script>

</body>

</html>