<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr><td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-top:4px solid #5fc8af;max-width:679px;margin:auto;width:100%">
      <tbody><tr><td><img src="https://web.nicepay.co.kr/images/email/hd_logo_nicepay.png" width="120" height="35" style="padding:30px 39px" alt="nicepay" loading="lazy"></td></tr>
      <tr><td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-top:1px solid #eee;border-bottom:1px solid #eee;">
          <tbody><tr><td width="39"></td><td width="600" style="font-size:28px;color:#666;padding:25px 0;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">
            <span>1**4</span>님,<br><span style="color:#5fc8af;font-weight: bold;">결제가 완료</span>되었습니다.
          </td><td width="39"></td></tr>
          </tbody></table>
      </td></tr>
      <tr><td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr><td width="39"></td><td width="600" style="font-size:15px;color:#666;word-break: keep-all;padding: 25px 0;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">고객님이 <span style="font-weight:bold">주식회사 바나플에프엔비</span>에서 NICEPAY 결제서비스를 통해 결제하신 내역입니다.</td><td width="39"></td></tr>
          </tbody></table>
      </td></tr>
      <tr><td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr><td width="39"></td><td width="600">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr><td colspan="2" style="font-size:15px;color:#000;font-weight: bold;padding-bottom: 10px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">결제정보</td></tr>
              <tr><td colspan="2" width="100%" height="1" style="background: #000"></td></tr>
              <tr><td width="100" style="font-size:13px;color:#666;padding-bottom:10px;padding-top:15px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">구매자명</td><td align="right" width="500" style="font-size:13px;color:#666;font-weight: bold;padding-bottom:10px;padding-top:15px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">1**4</td></tr>
              <tr><td width="100" style="font-size:13px;color:#666;padding-bottom:10px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">상품명</td><td align="right" width="500" style="font-size:13px;color:#666;font-weight: bold;padding-bottom:10px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">음료 베이커리</td></tr>
              <tr><td width="100" style="font-size:13px;color:#666;padding-bottom:10px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">결제일시</td><td align="right" width="500" style="font-size:13px;color:#666;font-weight: bold;padding-bottom:10px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">2022년 11월 15일 13시 12분</td></tr>
              <tr><td width="100" style="font-size:13px;color:#666;padding-bottom:10px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">주문번호</td><td align="right" width="500" style="font-size:13px;color:#666;font-weight: bold;padding-bottom:10px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">6460373</td></tr>
              <tr><td width="100" style="font-size:13px;color:#666;padding-bottom:15px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">결제수단</td><td align="right" width="500" style="font-size:13px;color:#666;font-weight: bold;padding-bottom:15px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">신용카드(신한)</td></tr>
              <tr><td colspan="2" width="100%" height="1" style="background: #ccc"></td></tr>
              <tr><td width="100" style="font-size:19px;color:#666;font-weight: bold;padding:15px 0;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">결제금액</td><td align="right" width="500" style="font-size:19px;color:#666;font-weight: bold;color:#5fc8af;padding:15px 0;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">
                <span>2,500 원</span>
              </td></tr>
              <tr><td colspan="2" width="100%" height="1" style="background: #ccc"></td></tr>
              </tbody></table>
          </td><td width="39"></td></tr>
          </tbody></table>
      </td></tr>
      <tr><td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr><td height="20px"></td></tr>
          <tr><td width="39" style=""></td><td valign="middle" width="600" style="height:42px;background: #5fc8af;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">
            <a href="https://npg.nicepay.co.kr/issue/IssueLoaderMail.do?TID=MVCD00950m01012211151312010222&amp;type=0" target="_blank" style="color:#fff;font-size:15px;text-align:center;text-decoration: none;:600px;display: block;" rel="noreferrer noopener">영수증 확인하기</a>
          </td><td width="39"></td></tr>
          </tbody></table>
      </td></tr>
      <tr><td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr><td width="39"></td><td width="600">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr><td colspan="2" style="font-size:15px;color:#000;font-weight: bold;padding-bottom: 10px;padding-top:40px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">상점정보</td></tr>
              <tr><td colspan="2" width="100%" height="1" style="background: #000"></td></tr>
              <tr><td width="100" style="font-size:13px;color:#666;padding-bottom:10px;padding-top:15px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">상점명</td><td align="right" width="500" style="font-size:13px;color:#666;font-weight: bold;padding-bottom:10px;padding-top:15px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">주식회사 바나플에프엔비</td></tr>
              <tr><td width="100" style="font-size:13px;color:#666;padding-bottom:10px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">사이트주소</td><td align="right" width="500" style="font-size:13px;color:#666;font-weight: bold;padding-bottom:10px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;"><a href="http://www.banapresso.com" target="_blank" rel="noopener noreferrer">http://www.banapresso.com</a></td></tr>
              <tr><td width="100" style="font-size:13px;color:#666;padding-bottom:15px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">연락처</td><td align="right" width="500" style="font-size:13px;color:#666;font-weight: bold;padding-bottom:15px;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">1811-1111</td></tr>
              <tr><td colspan="2" width="100%" height="1" style="background: #ccc"></td></tr>
              </tbody></table>
          </td><td width="39"></td></tr>
          </tbody></table>
      </td></tr>
      <tr><td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr><td height="20px"></td></tr>
          <tr><td width="39"></td><td valign="middle" width="600" style="height:42px;background: #5fc8af;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">
            <a href="http://www.banapresso.com" target="_blank" style="color:#fff;font-size:15px;text-align:center;text-decoration: none;:600px;display: block;" rel="noreferrer noopener">상점 바로가기</a>
          </td><td width="39"></td></tr>
          </tbody></table>
      </td></tr>
      <tr><td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-bottom:1px solid #eee;">
          <tbody><tr><td width="39"></td><td valign="middle" width="600" style="padding:40px 0;">
            <a href="https://www.nicepay.co.kr" target="_blank" style=":600px;display: block;" rel="noreferrer noopener">
              <img src="https://web.nicepay.co.kr/images/email/serviceBanner.jpg" alt="아시아 제 1의 금융 인프라그룹 NICEPAY는 다양하고 안전한 전자결제 서비스를 제공합니다." loading="lazy">
            </a>
          </td><td width="39"></td></tr>
          </tbody></table>
      </td></tr>
      <tr><td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr><td width="39"></td><td width="600" style="padding:30px 0">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr><td valign="middle" style="font-size:15px;color:#666;line-height:15px;font-weight: bold;;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">
                <img src="https://web.nicepay.co.kr/images/email/ico_noti.png" style="border:0;vertical-align:top" width="15" height="15" alt="유의사항 아이콘" loading="lazy">
                유의사항
              </td></tr><tr height="5"></tr><tr><td width="600" style="font-size:13px;color:#666;;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">-  본 메일은 발신전용이며, 결제내용 확인의 용도 외 어떠한 용도로도 사용되지 않습니다.<br>-  NICEPAY는 전자결제 서비스를 제공하고 있으며, 청구서상에는 ‘NICE’로 표시됩니다.<br>-  결제하신 물품에 대한 취소 및 배송, 반품 문의는 해당 상점에서 확인해주시기 바랍니다.</td></tr></tbody>
            </table>
          </td><td width="39"></td></tr>
          </tbody></table>
      </td></tr>
      <tr><td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background:#e6e5e5">
          <tbody><tr><td width="39"></td><td width="600">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr><td align="center" width="600" style="font-size:13px;color:#666;padding:25px 10px 25px;word-break: keep-all;;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">본 메일은 나이스페이먼츠의 전자결제인 NICEPAY에서 자동 발송하는 것으로  전자상거래 등에서의 소비자 보호에 관한 법률 제8조 3항에 따라 해당 상점과는 별도로 결제내역을 통보해드립니다.</td></tr></tbody>
            </table>
          </td><td width="39"></td></tr>
          </tbody></table>
      </td></tr>
      <tr><td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr><td width="39">&nbsp;</td><td width="600">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr><td width="20"></td><td width="150">
                <img src="https://web.nicepay.co.kr/images/email/ft_logo_nicepay.png" width="120" height="35" style="border:0;vertical-align:middle" alt="nicepay" loading="lazy">
              </td><td align="left" style="font-size:11px;color:#aaa;padding:30px 0;;font-family: '나눔고딕',NanumGothic,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;">사업자 등록번호: 815-81-00527 ㅣ 결제대금예치업 등록번호: 02-006-00041<br>04117 서울특별시 마포구 마포대로 217 크레디트센터 5~7층 나이스페이먼츠㈜<br>Copyright@2019 NICEPAY. All rights reserved.</td><td width="20"></td></tr></tbody>
            </table>
          </td><td width="39">&nbsp;</td></tr>
          </tbody></table>
      </td></tr>
      </tbody></table>
  </td></tr>
  </tbody></table>

</body>
</html>