<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment/saron_base :: base(~{::title},~{::link},~{::script})">
  <title>petApet - 상품관리</title>
  <script src="/js/companyPage/manageProduct.js"></script>
  <link href="/css/myPageSidebar.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="~{fragment/header :: header}"></th:block>
<!-- manageProduct Start -->
<div class="container-xxl px-0 mx-0">
  <th:block th:replace="~{fragment/layout :: sidebar}"></th:block>
  <div class="container py-7" style="right:0">

  </div>
</div>
<!-- manageProduct End -->

<!-- Modal start -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header py-5">
        <h5 class="modal-title mx-auto " id="staticBackdropLabel"></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="mx-auto col-4 btn btn-link" data-bs-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>
<!--Modal end-->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-dark btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
<th:block th:replace="~{fragment/layout :: mainFooter}"></th:block>

</body>
</html>