<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment/saron_base :: base(~{::title},~{::link},~{::script})">
    <title>petApet - 문의관리</title>
    <script src="/js/companyPage/manageInquiry.js"></script>
    <link href="/css/myPageSidebar.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="~{fragment/header :: header}"></th:block>
<div class="container-xxl px-0 mx-0">
    <th:block th:replace="~{fragment/layout :: sidebar}"></th:block>
    <div class="container py-7" style="right:0">
        <div class="row my-5">
            <div class="col-10 mx-auto">
                <div class="row mb-3">
                    <h4 class="mx-5 mb-3"><i class="bi bi-arrow-left"></i><b>&nbsp MY 문의관리</b></h4>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-5">
                                    <h5 class="card-title mb-0" style="float: left;"><b>전체 문의 관리</b></h5>
                                </div>
                                <div class="table-responsive tableDiv">
                                    <table class="table table-hover text-center" id="inquiryTable">
                                        <thead>
                                        <tr>
                                            <th class="pl-0  pb-2 border-bottom">문의번호</th>
                                            <th class="border-bottom pb-2">분류</th>
                                            <th class="border-bottom pb-2">제목</th>
                                            <th class="border-bottom pb-2">작성자</th>
                                            <th class="border-bottom pb-2">문의일시</th>
                                            <th class="border-bottom pb-2">답변여부</th>
                                        </tr>
                                        </thead>
                                        <tbody class="inquiryData">
                                        </tbody>
                                    </table>
                                    <div class="text-center" id="noData"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3" id="inquiryDetailInfo" style="display: none">
                    <div class="col-md-12 stretch-card grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div id="questionPart">
                                    <div class="mb-3">
                                        <h5 class="card-title mx-2 mb-0 float-left mb-4">
                                            <b>답변하기</b>
                                            <button type="button" class="btn-close float-end"
                                                    id="closeDetailInfoBTN"></button>
                                        </h5>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-lg-6 grid-margin stretch-card">
                                            <div class="input-group input-group mb-3">
                                                <span class="input-group-text">문의번호</span>
                                                <input type="text" class="form-control"
                                                       aria-label="Sizing example input"
                                                       aria-describedby="inputGroup-sizing-sm" id="detailNum" readonly>
                                            </div>
                                            <div class="input-group input-group mb-3">
                                                <span class="input-group-text">문의일시</span>
                                                <input type="text" class="form-control"
                                                       aria-label="Sizing example input"
                                                       aria-describedby="inputGroup-sizing-sm" id="detailDate" readonly>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 grid-margin stretch-card">
                                            <div class="input-group input-group mb-3">
                                                <span class="input-group-text">문의분류</span>
                                                <input type="text" class="form-control"
                                                       aria-label="Sizing example input"
                                                       aria-describedby="inputGroup-sizing-sm" id="detailCategory" readonly>
                                            </div>
                                            <div class="input-group input-group mb-3">
                                                <span class="input-group-text">&nbsp;작성자&nbsp;&nbsp;</span>
                                                <input type="text" class="form-control"
                                                       aria-label="Sizing example input"
                                                       aria-describedby="inputGroup-sizing-sm" id="detailWriter" readonly>
                                            </div>
                                        </div>
                                        <div class="input-group input-group mb-3">
                                            <span class="input-group-text">&nbsp;&nbsp;&nbsp;제목&nbsp;&nbsp;&nbsp;</span>
                                            <input type="text" class="form-control"
                                                   aria-label="Sizing example input"
                                                   aria-describedby="inputGroup-sizing-sm" id="detailTitle" readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label for="detailContent" class="form-label">문의내용</label>
                                            <textarea class="form-control" id="detailContent" rows="5" readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div id="answerPart">
                                    <div class="mb-3">
                                        <label for="answerContent" class="form-label">답변내용</label>
                                        <textarea class="form-control" id="answerContent" rows="7"></textarea>
                                    </div>
                                </div>
                                <div class="float-end">
                                    <button type="button" class="btn btn-primary" id="insertAnswerBTN">
                                        답변등록
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<a href="#" class="btn btn-lg btn-dark btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
<th:block th:replace="~{fragment/layout :: mainFooter}"></th:block>
</body>
</html>