<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment/saron_base :: base(~{::title},~{::link},~{::script})">
    <title>petApet - 내 정보 수정</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/member/modifyInfo.js"></script>
    <link href="/css/myPageSidebar.css" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="https://fengyuanchen.github.io/cropperjs/css/cropper.css">

    <!-- js -->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
    <script src="https://fengyuanchen.github.io/cropper/js/cropper.js"></script>

</head>
<body>
<th:block th:replace="~{fragment/header :: header}"></th:block>

<!-- Myinfo Start -->
<div class="container-xxl px-0 mx-0">
    <th:block th:replace="~{fragment/layout :: sidebar}"></th:block>
    <div class="container py-7" style="right:0">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="bg-white pt-5 pb-3">
                    <h4 class="text-black ps-5 mb-0"><i class="bi bi-arrow-left"></i> 개인 정보 수정</h4>
                </div>
                <div class="myinfo-item  d-flex">
                    <div class="myinfo-text w-100 p-5">
                        <div class="container join">
                            <div class="row g-5">
                                <div class="mx-auto">
                                    <form action="/member/modifyInfo" method="post">
                                        <div class="row">
                                            <!-- 프로필 이미지 변경하는 부분(시작) -->
<!--                                            <div class="col-12">-->
<!--                                                <div class="card text-center">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <input id="image" type="hidden" class="form-control"/>-->
<!--                                                    </div>-->
<!--                                                    <div class="card-header">-->
<!--                                                        프로필 이미지-->
<!--                                                    </div>-->
<!--                                                    <div id="current-profile-image" class="mt-3">-->
<!--                                                        <svg class="rounded"-->
<!--                                                             width="125" height="125"></svg>-->
<!--                                                        <img class="rounded"-->
<!--                                                             width="125" height="125" alt="name" ]/>-->
<!--                                                    </div>-->
<!--                                                    <div id="new-profile-image" class="mt-3"></div>-->
<!--                                                    <div class="card-body">-->
<!--                                                        <div class="input-group">-->
<!--                                                            <input type="file" class="form-control" id="profile-image-file">-->
<!--                                                        </div>-->
<!--                                                        <div id="new-profile-image-control" class="mt-3 d-grid gap-2">-->
<!--                                                            <button class="btn btn-outline-primary" type="button" id="cut-button">자르기</button>-->
<!--                                                            <button class="btn btn-outline-success" type="button" id="confirm-button">확인</button>-->
<!--                                                            <button class="btn btn-outline-warning" type="button" id="reset-button">취소</button>-->
<!--                                                        </div>-->
<!--                                                        <div id="cropped-new-profile-image" class="mt-3"></div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                            <!-- 프로필 이미지 변경하는 부분(끝) -->

                                            <!-- memberImg start -->
                                            <div class="col-12">
                                                <div class="row g-2 mb-4 px-1">
<!--                                                    <label class="myinfo-p col-3">프로필 이미지</label>-->
                                                    <div class="px-3 py-2 ">
<!--                                                    <img class="rounded-circle" width="125" height="125" src="/img/profile.jpg">-->
                                                    <img class="rounded-circle border border-1" width="150" height="150" src="/img/profile.jpg">
                                                    </div>
                                                    <div class="dropdown">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            Dropdown button
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        </ul>
                                                    </div>

                                                    <div class="dropdown">
                                                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                            Dropdown link
                                                        </a>

                                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                        </ul>
                                                    </div>


                                                    <div class="position-absolute rounded-2  px-2 py-1 left-0 top -0 border">
                                                        <p>test</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- memberImg end-->

                                            <!-- memberId start -->
                                            <div class="col-12">
                                                <div class="row g-2 mb-4 px-1">
                                                    <label for="input-memberId" class="myinfo-p col-3">아이디</label>
                                                    <input type="text" id="input-memberId"
                                                           class="form-control px-3 py-2 w-75"
                                                           th:value="${memberDTO.memberId}" readonly>
                                                </div>
                                            </div>
                                            <!-- memberId end-->

                                            <!-- memberPw updateBtn start -->
                                            <div class="col-12">
                                                <div class="row g-2 mb-4 px-1">
                                                    <label class="myinfo-p col-3">
                                                        비밀번호 변경</label>
                                                    <div class="col-9 px-0">
                                                        <button id="updateMemberPwBtn" type="button"
                                                                class="btn btn-dark w-100 py-2">
                                                            <span id="updateBtnName" class="text-white">변경하려면 클릭</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- memberPw updateBtn end -->

                                            <!-- memberName start -->
                                            <div class="col-12">
                                                <div class="row g-2 mb-4 px-1">
                                                    <label for="input-memberName" class="myinfo-p col-3">이름</label>
                                                    <input type="text" id="input-memberName"
                                                           class="form-control px-3 py-2 w-75"
                                                           th:value="${memberDTO.memberName}" readonly>
                                                </div>
                                            </div>
                                            <!-- memberName end -->

                                            <!-- memberPhoneNum start -->
                                            <div class="col-12">
                                                <div class="row g-2 mb-4 px-1">
                                                    <label for="input-memberPhoneNum"
                                                           class="myinfo-p col-3">휴대전화</label>
                                                    <div class="px-0 col-9">
                                                        <div class="row g-2 pe-1 mb-2">
                                                            <div class="col-8">
                                                                <input type="text" id="input-memberPhoneNum"
                                                                       name="memberPhoneNum"
                                                                       class="form-control px-3 py-2 "
                                                                       maxlength="11"
                                                                       th:value="${memberDTO.memberPhoneNum}"
                                                                       onkeyup="checkMemberPhoneNum()"
                                                                       placeholder="숫자만 입력해주세요" readonly>
                                                            </div>
                                                            <button id="smsBtn" type="button"
                                                                    class="btn btn-dark col-4 py-2">
                                                                <span id="smsBtnName" class="text-white">다른번호 인증</span>
                                                            </button>
                                                        </div>
                                                        <p id="feedback-memberPhoneNum"
                                                           class="text-start text-danger small ps-2 my-1"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- memberPhoneNum end -->

                                            <!-- memberGender start -->
                                            <div class="col-12">
                                                <div id="genderForm" class="row g-2 mb-4 px-1">
                                                    <label class="myinfo-p col-3">성별(선택)</label>
                                                    <div class="form-check col-3 mb-0 py-2">
                                                        <input type="radio" id="check-male" class="form-check-input"
                                                               name="memberGender" value="남자"
                                                               th:checked="${memberDTO.memberGender eq '남자'}">
                                                        <label for="check-male" class="form-check-label">남자</label>
                                                    </div>
                                                    <div class="form-check col-3 mb-0 py-2">
                                                        <label for="check-female">여자</label>
                                                        <input type="radio" id="check-female" class="form-check-input"
                                                               name="memberGender" value="여자"
                                                               th:checked="${memberDTO.memberGender eq '여자'}">
                                                    </div>
                                                    <div class="form-check col-3 mb-0 py-2">
                                                        <input type="radio" id="check-test" class="form-check-input"
                                                               name="memberGender" value="응답안함"
                                                               th:checked="${memberDTO.memberGender eq '응답안함'}">
                                                        <label for="check-test">응답 안함</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- memberGender end -->

                                            <!-- memberBirthday start -->
                                            <div class="col-12 ">
                                                <div id="div-memberBirthday" class="row g-2 mb-4 px-1">
                                                    <label for="input-year" class="myinfo-p col-3">생년월일</label>
                                                    <div class="col-9 px-0">
                                                        <input type="text" id="input-year" name="memberBirthday"
                                                               class="form-control d-inline-block w-32 px-3 py-2"
                                                               maxlength="4"
                                                               th:value="${memberDTO.memberBirthday.get(0)}"
                                                               onblur="checkMemberBirthday()" placeholder="년(4자)">
                                                        <input type="text" id="input-month" name="memberBirthday"
                                                               class="form-control d-inline-block w-32 px-3 py-2"
                                                               maxlength="2"
                                                               th:value="${memberDTO.memberBirthday.get(1)}"
                                                               onblur="checkMemberBirthday()" placeholder="월">
                                                        <input type="text" id="input-day"
                                                               class="form-control d-inline-block w-32 px-3 py-2"
                                                               maxlength="2" name="memberBirthday"
                                                               th:value="${memberDTO.memberBirthday.get(2)}"
                                                               onblur="checkMemberBirthday()" placeholder="일">
                                                        <p id="feedback-memberBirthday" class="text-start text-danger small ps-2 my-1"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- memberBirthday end -->

                                            <!-- memberAddress-->
                                            <div class="col-12">
                                                <div class="row g-2 mb-2 px-1">
                                                    <label class="myinfo-p col-3">주소</label>
                                                    <div class="px-0 col-9">
                                                        <div class="row g-2 pe-1 mb-2">
                                                            <div class="col-7">
                                                                <input type="text" id="sample6_postcode"
                                                                       th:value="${memberDTO.memberAddress.get(0)}"
                                                                       name="memberAddress"
                                                                       class="form-control px-3 test"
                                                                       placeholder="우편번호" readonly>
                                                            </div>
                                                            <button type="button" id="addressBtn"
                                                                    class="btn btn-dark col-5 h-100"
                                                                    onclick="findAddress()" readonly>
                                                                우편번호 찾기
                                                            </button>
                                                        </div>
                                                        <input type="text" id="sample6_address" name="memberAddress"
                                                               class="form-control mb-2 px-3 py-2" placeholder="주소"
                                                               th:value="${memberDTO.memberAddress.get(1)}" readonly>
                                                        <input type="text" id="sample6_detailAddress"
                                                               name="memberAddress" class="form-control mb-2 px-3 py-2"
                                                               onblur="checkMemberAddress()"
                                                               th:value="${memberDTO.memberAddress.get(2)}"
                                                               placeholder="상세주소">

                                                        <input type="text" id="sample6_extraAddress"
                                                               name="memberAddress" class="form-control px-3 py-2"
                                                               th:value="${memberDTO.memberAddress.size()== 4}?${memberDTO.memberAddress.get(3)}:'' "
                                                               placeholder="참고항목" readonly>
                                                        <p id="feedback-memberAddress"
                                                           class="text-start text-danger small ps-2 my-1"/>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- memberAddress end -->
                                        </div>

                                        <hr class="my-4"/>
                                        <!-- button-->
                                        <div class="col-12">
                                            <button type="button" id="withdrawalBtn"
                                                    class="btn btn-outline-primary col-4 px-1 py-2">
                                                회원탈퇴
                                            </button>
                                            <button type="button" id="modifyBtn"
                                                    class="btn btn-primary col-4 px-1 py-2">
                                                회원정보수정
                                            </button>
                                        </div>
                                        <!-- button-->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Myinfo End -->

<!-- smsConfirmNum Modal start -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-8 mx-auto">
                    <h5 class="modal-title text-center pt-3" id="staticBackdropLabel">인증번호 확인</h5>
                    <div class="py-3">
                        <div class="mb-0">
                            <input id="input-smsConfirmNum" type="text" class="form-control"
                                   name="smsConfirmNum" maxlength="6" placeholder="인증번호 6자리 입력">
                            <p id="feedback-smsConfirmNum" class="text-start text-danger small ps-2 my-1"/>
                            <p id="feedback-smsConfirmNum2" class="text-start text-danger small ps-2 my-1"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="mx-auto col-4 btn btn-link" data-bs-dismiss="modal">닫기</button>
            </div>

        </div>
    </div>
</div>
<!-- smsConfirmNum Modal end-->

<!-- updateMemberPw Modal start -->
<div class="modal fade" id="updateMemberPw" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="updateMemberPwLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-11 mx-auto">
                    <h5 class="modal-title text-center py-3" id="updateMemberPwLabel">비밀번호 바꾸기</h5>
                    <!-- Original memberPw start -->
                    <div class="row g-2 mb-2">
                        <label for="input-originalMemberPw" class="myinfo-p col-3">현재 비밀번호</label>
                        <div class="col-9 px-0">
                            <input type="password" id="input-originalMemberPw"
                                   class="form-control px-3 py-2" maxlength="18"
                                   placeholder="비밀번호를 입력해주세요" onkeyup="checkOriginalMemberPw()">
                            <p id="feedback-originalMemberPw" class="text-start small text-danger ps-2 my-1"/>
                        </div>
                    </div>
                    <!-- Original memberPw end -->

                    <!-- New MemberPw start -->
                    <div class="row g-2 mb-2">
                        <label for="input-newMemberPw" class="myinfo-p col-3">새 비밀번호</label>
                        <div class="col-9 px-0">
                            <input type="password" id="input-newMemberPw"
                                   class="form-control px-3 py-2" maxlength="18"
                                   placeholder="새 비밀번호를 입력해주세요" onkeyup="checkNewMemberPw()" disabled>
                            <p id="feedback-newMemberPw"
                               class="text-start text-danger small ps-2 my-1"/>
                        </div>
                    </div>
                    <!-- New MemberPw end -->

                    <!-- New MemberPw2 start -->
                    <div class="row g-2">
                        <label for="input-newMemberPw2" class="myinfo-p col-3">새 비밀번호 확인</label>
                        <div class="col-9 px-0">
                            <input type="password" id="input-newMemberPw2"
                                   class="form-control px-3 py-2" maxlength="18"
                                   placeholder="새 비밀번호를 다시 입력해주세요" onkeyup="checkNewMemberPw2()" disabled>
                            <p id="feedback-newMemberPw2"
                               class="text-start text-danger small ps-2 my-1"/>
                        </div>
                    </div>
                    <!-- New MemberPw2 end -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeBtn" class="mx-auto me-1 col-5 btn btn-outline-primary"
                        data-bs-dismiss="modal">닫기
                </button>
                <button type="button" id="sendNewMemberPwBtn" class="mx-auto ms-1 col-5 btn btn-primary">확인</button>
            </div>

        </div>
    </div>
</div>
<!-- updateMemberPw Modal end-->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-dark btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
<th:block th:replace="~{fragment/layout :: mainFooter}"></th:block>
<!--<script>-->
<!--    function profileImageUpload(pageUserId, principalId) {-->
<!--        //-->
<!--        //-->
<!--        // if(pageUserId != principalId){-->
<!--        //     alert("프로필 사진을 수정할 수 없는 유저입니다.");-->
<!--        //     return;-->
<!--        // }-->

<!--        $("#userProfileImageInput").click();-->

<!--        $("#userProfileImageInput").on("change", (e) => {-->
<!--            let f = e.target.files[0];-->

<!--            if (!f.type.match("image.*")) {-->
<!--                alert("이미지를 등록해야 합니다.");-->
<!--                return;-->
<!--            }-->

<!--            // 서버에 이미지를 전송-->
<!--            let profileImageForm = $("#userProfileImageForm")[0];-->


<!--            // FormData 객체를 이용하면 form 태그의 필드와 그 값을 나타내는 일련의 key/value 쌍을 담을 수 있다.-->
<!--            let formData = new FormData(profileImageForm);-->

<!--            $.ajax({-->
<!--                type: "put",-->
<!--                url: `/api/user/profileImage/${principalId}`,-->
<!--                data: formData,-->
<!--                contentType: false, // 필수 : x-www-form-urlencoded로 파싱되는 것을 방지-->
<!--                processData: false,  // 필수: contentType을 false로 줬을 때 QueryString 자동 설정됨. 해제-->
<!--                enctype: "multipart/form-data",-->
<!--                dataType: "text"-->
<!--            }).done(res=>{-->
<!--                alert(res);-->
<!--                location.href = `/user/profile/${principalId}`;-->
<!--            }).fail(error=>{-->
<!--                alert(error.responseText);-->
<!--            });-->


<!--        });-->
<!--    }-->
<!--</script>-->

<!-- 프로필 이미지 잘라내기 스크립트(시작) -->
<!--<link href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet"/>-->
<!--<script src="/node_modules/cropper/dist/cropper.min.js"></script>-->
<!--<script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>-->
<script type="application/javascript">
    $(function () {
        cropper = '';
        let $confirmBtn = $("#confirm-button");
        let $resetBtn = $("#reset-button");
        let $cutBtn = $("#cut-button");
        let $newProfileImage = $("#new-profile-image");
        let $currentProfileImage = $("#current-profile-image");
        let $resultImage = $("#cropped-new-profile-image");
        let $profileImage = $("#image");

        // $newProfileImage.hide();
        // $cutBtn.hide();
        // $resetBtn.hide();
        // $confirmBtn.hide();

        $("#profile-image-file").change(function (e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        let img = document.createElement("img");
                        img.id = 'new-profile';
                        img.src = e.target.result;
                        img.width = 250;

                        $newProfileImage.html(img);
                        $newProfileImage.show();
                        $currentProfileImage.hide();

                        let $newImage = $(img);
                        $newImage.cropper({aspectRatio: 1});
                        cropper = $newImage.data('cropper');

                        // $cutBtn.show();
                        // $confirmBtn.hide();
                        // $resetBtn.show();
                    }
                };

                reader.readAsDataURL(e.target.files[0]);
            }
        });

        $resetBtn.click(function () {
            $currentProfileImage.show();
            $newProfileImage.hide();
            $resultImage.hide();
            $resetBtn.hide();
            $cutBtn.hide();
            $confirmBtn.hide();
            $profileImage.val('');
        });

        $cutBtn.click(function () {
            let dataUrl = cropper.getCroppedCanvas().toDataURL();
            let newImage = document.createElement("img");
            newImage.id = "cropped-new-profile-image";
            newImage.src = dataUrl;
            newImage.width = 125;
            $resultImage.html(newImage);
            $resultImage.show();
            $confirmBtn.show();

            $confirmBtn.click(function () {
                $newProfileImage.html(newImage);
                $cutBtn.hide();
                $confirmBtn.hide();
                $profileImage.val(dataUrl);
            });
        });
    });
</script>
<!-- 프로필 이미지 잘라내기 스크립트(끝) -->
</body>

</html>