<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>petApet</title>

    <!-- Favicon -->
    <link href="img/icon/favicon.ico" rel="icon">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap"
          rel="stylesheet">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
<!-- findMemberId Start -->
<main class="container-xxl text-center py-7 my-auto">
    <div class="container join">
        <div class="row g-5">
            <div class="mx-auto">
                <h1 class="display-5 mb-4"><a class="" href="/"><img src="/static#.img" alt="logo">petApet</a></h1>
                <h4 class="mb-3">비밀번호 찾기</h4>
                <p class="mb-4 text-end"><span class="text-danger">*</span>필수입력사항</p>
                <form action="/findMemberPw" method="post">

                    <div class="row g-3">
                        <!-- memberId start -->
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" id="input-memberId" class="form-control" name="memberId"
                                       maxlength="20" placeholder="loginId">
                                <label for="input-memberId">아이디<span class="text-danger">*</span></label>
                            </div>
                            <p id="feedback-memberId" class="text-start text-danger ps-2 my-1"
                               th:text="${valid_memberId}"/>
                        </div>
                        <!-- memberId confirm end -->

                        <!-- memberName start -->
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" id="input-memberName" name="memberName" class="form-control"
                                       maxlength="6" placeholder="name">
                                <label for="input-memberName">이름<span class="text-danger">*</span></label>
                            </div>
                            <p id="feedback-memberName" class="text-start text-danger ps-2 my-1"
                               th:text="${valid_memberName}"/>
                        </div>
                        <!--memberName end-->

                        <!-- memberPhoneNum start -->
                        <div class="col-12">
                            <div class="row g-2 mb-2 px-1">
                                <div class="form-floating px-0 pe-1 col-8">
                                    <input type="text" id="input-memberPhoneNum" name="memberPhoneNum"
                                           class="form-control" maxlength="11"
                                           placeholder="휴대전화">
                                    <label for="input-memberPhoneNum" class="w-75">휴대전화<span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="form-floating px-0 ps-1 col-4">
                                    <button id="smsBtn" type="button" class="btn btn-dark w-100 h-100">
                                        인증번호 받기
                                    </button>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="form-floating">
                                    <input id="input-smsConfirmNum" type="text" class="form-control"
                                           name="smsConfirmNum" maxlength="6" onclick=""
                                           placeholder="휴대전화" disabled>
                                    <label>인증번호 입력<span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <p id="feedback-memberPhoneNum" class="text-start text-danger ps-2 my-1"
                               th:text="${valid_memberPhoneNum}"/>
                            <p id="feedback-smsConfirmPhoneNum" class="text-start text-danger ps-2 my-1"
                               th:text="${valid_smsConfirmNum}"/>
                        </div>
                        <!-- memberPhoneNum end -->

                        <!-- findId button-->
                        <div class="col-12">
                            <button type="button" id="findBtn" class="btn btn-primary mb-2 col-12 py-3">
                                비밀번호 찾기
                            </button>
                            <hr/>
                            <span class="mx-3"><a href="/findMemberId">아이디 찾기</a></span>|
                            <span class="mx-3"> <a href="/login">로그인</a></span>|
                            <span class="mx-3"><a href="/join">회원가입</a></span>

                        </div>
                        <!-- findId button-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<!-- findMemberId End -->

<!-- Copyright Start -->
<footer class="container-fluid text-center copyright py-4">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 text-center mx-auto  mb-3 mb-md-0">
                &copy; petApet Project Team All Right Reserved.
            </div>
        </div>
    </div>
</footer>
<!-- Copyright End -->

<!-- Modal start -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input type="hidden" id="findMemberPwResult" th:value="${memberId}">
            <div class="modal-header py-5">
                <div class="mx-auto">
                    <h5 class="modal-title pb-3" id="staticBackdropLabel"
                        th:text="${memberId}==0? '입력하신 정보와 일치하는 사용자가 없습니다.':'임시비밀번호를 받을 이메일 주소를 입력해주세요.'"></h5>
                    <!-- email start -->
                    <input type="text" id="input-email" class="form-control px-3 py-2" maxlength="18" placeholder="이메일 입력">
                    <p id="feedback-email" class="text-start text-danger small ps-2 my-1"/>
                    <!-- email end -->
                </div>
            </div>
            <div class="modal-footer" th:if="${memberId}==0">
                <button type="button" class="mx-auto col-4 btn btn-link" data-dismiss="modal">닫기</button>
            </div>
            <div class="modal-footer" th:unless="${memberId}==0">
                <button type="button" class="mx-auto me-1 col-5 btn btn-outline-primary" data-dismiss="modal">
                    닫기
                </button>
                <button type="button" id="sendEmailBtn" class="mx-auto ms-1 col-5 btn btn-primary">임시비밀번호 받기</button>
            </div>
        </div>
    </div>
</div>
<!--Modal end-->

<!-- findMemberPw Script Start -->
<script src="/js/member/findMemberPw.js"></script>
<!-- findMemberPw Script End -->

</body>

</html>