<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>petApet</title>

    <!-- Favicon -->
    <link href="img/icon/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous">
    </script>
</head>
<body>
<!-- Join Start -->
<main class="container-xxl text-center py-7 my-auto">
    <div class="container join">
        <div class="row g-5">
            <div class="mx-auto">
                <h1 class="display-5 mb-5"><a class="" href="/"><img src="/#.img" alt="logo">petApet</a></h1>
                <!-- <h1 class="display-5 mb-5">Join</h1> -->
                <p class="mb-4 text-end"><span class="text-danger">*</span>필수입력사항</p>
                <form action="/join" method="post">
                    <div class="row g-3">

                        <!-- memberId start -->
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" id="input-memberId" class="form-control" name="memberId"
                                       maxlength="20" th:value="${joinDTO.memberId}" placeholder="loginId">
                                <label for="input-memberId">아이디<span class="text-danger">*</span></label>
                            </div>
                            <p id="feedback-memberId" class="text-start text-danger ps-2 my-1"
                               th:text="${valid_memberId}"/>
                        </div>
                        <!-- memberId confirm end -->

                        <!-- memberPw start -->
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="password" id="input-memberPw" name="memberPw" class="form-control"
                                       maxlength="18"
                                       placeholder="password">
                                <label for="input-memberPw">비밀번호<span class="text-danger">*</span></label>
                            </div>
                            <p id="feedback-memberPw" class="text-start text-danger ps-2 my-1"
                               th:text="${valid_memberPw}"/>
                        </div>
                        <!-- memberPw end -->

                        <!-- memberPw2 start -->
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="password" id="input-memberPw2" name="memberPw2" class="form-control"
                                       maxlength="18" placeholder="password2">
                                <label for="input-memberPw2">비밀번호 확인<span class="text-danger">*</span></label>
                            </div>
                            <p id="feedback-memberPw2" class="text-start text-danger ps-2 my-1"
                               th:text="${valid_joinDTO}==null? ${valid_memberPw2}:${valid_joinDTO}"/>

                        </div>
                        <!-- memberPw2 end -->

                        <!-- memberName start -->
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" id="input-memberName" name="memberName" class="form-control"
                                       th:value="${joinDTO.memberName}" maxlength="6" placeholder="name">
                                <label for="input-memberName">이름<span class="text-danger">*</span></label>
                            </div>
                            <p id="feedback-memberName" class="text-start text-danger ps-2 my-1"
                               th:text="${valid_memberName}"/>
                        </div>
                        <!--memberName end-->

                        <!-- memberGender start -->
                        <div class="col-12">
                            <div id="genderForm" class="form-floating">
                                <select id="select-gender" class="form-select" name="memberGender"
                                        th:value="${joinDTO.memberGender}" onchange="chnSelectGender()">
                                    <option selected disabled hidden></option>
                                    <option value="">성별(선택)</option>
                                    <option value="남자">남자</option>
                                    <option value="여자">여자</option>
                                    <option value="응답안함">응답 안함</option>
                                </select>
                                <label id="label-gender">성별(선택)</label>
                            </div>
                        </div>
                        <!-- memberGender end -->

                        <!-- memberBirthday start -->
                        <div class="col-12 ">
                            <div id="div-memberBirthday" class="row g-3 px-2">
                                <div class="form-floating px-0 pe-1 col-4">
                                    <input type="text" id="input-year" name="memberBirthday" class="form-control"
                                           maxlength="4" onblur="checkMemberBirthday()" placeholder="년">
                                    <label for="input-year" class="w-75">년(4자)<span class="text-danger">*</span></label>
                                </div>
                                <div class="form-floating px-1 col-4">
                                    <select id="select-month" name="memberBirthday" class="form-select"
                                            onblur="checkMemberBirthday()" onchange="chnSelectMonth()">
                                        <option val="" selected disabled hidden></option>
                                    </select>
                                    <label id="label-month">월<span class="text-danger">*</span></label>
                                </div>
                                <div class="form-floating px-0 ps-1 col-4">
                                    <input type="text" id="input-day" class="form-control" maxlength="2"
                                           name="memberBirthday" onblur="checkMemberBirthday()" placeholder="일">
                                    <label for="input-day" class="w-75">일<span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <p id="feedback-memberBirthday" class="text-start text-danger ps-2 my-1"
                               th:text="${valid_memberBirthday}"/>
                        </div>
                        <!-- memberBirthday end -->

                        <!-- memberAddress-->
                        <div class="col-12">
                            <div class="row g-2 mb-2 px-1">
                                <div class="form-floating px-0 pe-1 col-6">
                                    <input type="text" id="sample6_postcode" name="memberAddress"
                                           class="form-control test"
                                           placeholder="우편번호" onclick="findAddress()" disabled>
                                    <label class="w-75">우편번호<span class="text-danger">*</span></label>
                                </div>
                                <div class="form-floating px-0 ps-1 col-6">
                                    <button type="button" id="addressBtn" class="btn btn-secondary w-100 h-100"
                                            onclick="findAddress()">
                                        우편번호 찾기
                                    </button>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="form-floating">
                                    <input type="text" id="sample6_address" name="memberAddress" class="form-control"
                                           placeholder="주소" onclick="findAddress()" disabled>
                                    <label>주소<span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <div class="row g-2 mb-2 px-1">
                                <div class="form-floating px-0 pe-1 col-6">
                                    <input type="text" id="sample6_detailAddress" name="memberAddress"
                                           class="form-control" placeholder="상세주소">
                                    <label class="w-75">상세주소<span class="text-danger">*</span></label>
                                </div>
                                <div class="form-floating px-0 ps-1 col-6">
                                    <input type="text" id="sample6_extraAddress" name="memberAddress"
                                           class="form-control"
                                           placeholder="참고항목" onclick="findAddress()" disabled>
                                    <label class="w-75">참고항목</label>
                                </div>
                            </div>
                            <p id="feedback-memberAddress" class="text-start text-danger ps-2 my-1"
                               th:text="${valid_memberAddress}"/>
                        </div>
                        <!-- memberAddress end -->

                        <!-- memberPhoneNum start -->
                        <div class="col-12">
                            <div class="row g-2 mb-2 px-1">
                                <div class="form-floating px-0 pe-1 col-8">
                                    <input type="text" id="input-memberPhoneNum" name="memberPhoneNum"
                                           class="form-control" maxlength="11" th:value="${joinDTO.memberPhoneNum}"
                                           placeholder="휴대전화">
                                    <label for="input-memberPhoneNum" class="w-75">휴대전화<span
                                            class="text-danger">*</span></label>
                                </div>
                                <div class="form-floating px-0 ps-1 col-4">
                                    <button id="smsBtn" type="button" class="btn btn-dark w-100 h-100">
                                        인증번호 받기
                                    </button>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="form-floating">
                                    <input id="input-smsConfirmNum" type="text" class="form-control"
                                           name="smsConfirmNum" maxlength="6" onclick=""
                                           placeholder="휴대전화" disabled>
                                    <label>인증번호 입력<span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <p id="feedback-memberPhoneNum" class="text-start text-danger ps-2 my-1"
                               th:text="${valid_memberPhoneNum}"/>
                            <p id="feedback-smsConfirmPhoneNum" class="text-start text-danger ps-2 my-1"
                               th:text="${valid_smsConfirmNum}"/>
                        </div>
                        <!-- memberPhoneNum end -->

                        <!-- join button-->
                        <div class="col-12">
                            <button type="button" id="joinBtn" class="btn btn-primary mb-2 col-12 py-3">
                                회원가입
                            </button>
                        </div>
                        <!-- join button-->

                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<!-- Join End -->

<!-- Copyright Start -->
<footer class="container-fluid text-center copyright py-4">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 text-center mx-auto  mb-3 mb-md-0">
                &copy; petApet Project Team All Right Reserved.
            </div>
        </div>
    </div>
</footer>
<!-- Copyright End -->


<!-- join Script Start -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/member/join.js"></script>
<!-- join Script End -->

</body>

</html>