<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>petApet</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/icon/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
        function chn_select_gender() {
            if ($("#select-gender option:checked").val() == "응답안함") {
                $("#label-gender").hide();
                $("#select-gender").css("padding", "1rem 0.75rem");
                $("#select-gender").css("color", "#888");
            } else {
                $("#select-gender").css("color", "#212529");
                $("#label-gender").show();
                $("#select-gender").css("padding-top", "1.625rem");
                $("#select-gender").css("padding-bottom", "0.625rem");
                $("#label-gender").css("opacity", "0.65");
                $("#label-gender").css("transform", "scale(0.85) translateY(-0.5rem) translateX(0.15rem)");
            }
        }
        function chn_select_month() {
            if ($("#select-month option:checked").val() != "") {
                $("#select-month").css("color", "#212529");
                $("#label-gender").show();
                $("#select-month").css("padding-top", "1.625rem");
                $("#select-month").css("padding-bottom", "0.625rem");
                $("#label-month").css("opacity", "0.65");
                $("#label-month").css("transform", "scale(0.85) translateY(-0.5rem) translateX(0.15rem)");
            }
        }

        $(document).ready(function () {

            //비밀번호 정규식 (영어 대소문자,특수문자,숫자 필수입력, 8-16글자)
            let memberPwRegExp = /^(?=.*[a-zA-z0-9])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{8,16}$/g;
            //이름 정규식 (한글, 2-6글자)
            let memberNameRegExp = /^[가-힣]{2,6}$/g;
            //휴대전화 정규식 (-빼고 입력 01로 시작, 총 10-11글자)
            let memberPhonNumRegExp = /^([01]{2})([0|1|6|7|8|9]{1})([0-9]{3,4})([0-9]{4})$/;
            //숫자 정규식
            let numberRegExp = /^[0-9]+$/;


            // 생년월일 - 월 select option 자동 추가 script
            for (var i = 1; i < 13; i++) {
                $('#select-month').append('<option value="' + i + '">' + i + '</option>');
            }

            // 아이디 체크
            $("#input-memberId").blur(function () {
                let memberId = $("#input-memberId").val();
                let feedback = $("#feedback-memberId");
                feedback.removeClass("text-info").addClass("text-danger");
                //아이디 정규식(영문 소문자, 숫자, 특수문자(-,_)  5-20 글자만 가능)
                let regExp = /^[a-z0-9_-]{5,20}$/g;

                //ajax 아이디 중복 확인
                $.ajax({
                    type: "POST",
                    url: "/checkId",
                    data: {
                        memberId: memberId,
                    },
                    dataType: "json",
                    success: function (check) { // 통신 성공 시 "true" 혹은 "false" 반환
                        if (check) { // 아이디 이미 존재
                            feedback.text("중복 아이디입니다.");
                        } else {
                            if (memberId === null || memberId === "") { //값이 없을 때
                                feedback.text("필수 정보입니다.");
                                resId = false;
                            } else if (!regExp.test(memberId)) { //정규식에 맞지 않을 때
                                feedback.text("5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용 가능합니다.");
                                resId = false;
                            } else { //조건에 맞는 아이디일 때 true 반환
                                feedback.removeClass("text-danger").addClass("text-info");
                                feedback.text("OK");
                                resId = true;
                            }
                        }
                    },
                    error: function () {
                        console.log("통신 오류");
                        window.location = "/join";
                    }
                });
            });


            // $("#joinBtn").click(function () {
            //     $.ajax({
            //         type: "POST",
            //         url: "/api/join",
            //         data: JSON.stringify({
            //             memberId: memberId,
            //             memberPw: memberPw,
            //             memberGender: memberGender,
            //             memberAddress: memberAddress,
            //             memberPhoneNum: memberPhoneNum,
            //             memberName: memberName,
            //             memberBirthday: memberBirthday
            //         }),
            //         dataType: "json",
            //         contentType: 'application/json',
            //         success: function (data) {
            //             alert(data);
            //             location.href = "/";
            //         },
            //         error: function () {
            //             location.href = "/join";
            //         }
            //
            //     });
            // });

            $("#smsBtn").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/sms/send",
                    data: {
                        to: $("#to").val(),
                    },
                    dataType: "json",
                    success: function (response) {
                        alert(response['smsConfirmNum']);
                    },
                    error: function () {
                        alert("에러에러에러");
                    }
                });
            });
        });


    </script>

</head>
<body>
<!-- Join Start -->
<div class="container-xxl text-center py-5 my-5">
    <div class="container join">
        <div class="row g-5">
            <div class="mx-auto">
                <h1 class="display-5 mb-5"><a class="" href="index.html"><img src="aa" alt="logo">petApet</a></h1>
                <!-- <h1 class="display-5 mb-5">Join</h1> -->
                <p class="mb-4 text-end"><span class="text-danger">*</span>필수입력사항</p>
                <form name="form" action="/join" method="post">
                    <div class="row g-3">

                        <!-- 아이디 입력-->
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" id="input-memberId" class="form-control" name="memberId"
                                       maxlength="20"
                                       placeholder="login">
                                <label>아이디<span class="text-danger">*</span></label>
                            </div>
                            <p id="feedback-memberId" class="text-danger text-start ps-2 my-1"/>
                        </div>

                        <!-- 비밀번호 입력-->
                        <div class="col-12">
                            <div class="form-floating">
                                <input id="input-memberPw" type="password" class="form-control" name="memberPw" maxlength="18"
                                       placeholder="password">
                                <label>비밀번호<span class="text-danger">*</span></label>
                            </div>
                            <p id="feedback-memberPw" class="text-start text-danger ps-2 my-1"/>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input id="input-memberPw2" type="password" class="form-control" maxlength="18" placeholder="password">
                                <label>비밀번호 확인<span class="text-danger">*</span></label>
                            </div>
                            <p id="feedback-memberPw2" class="text-start text-danger ps-2 my-1"/>
                        </div>

                        <!-- 이름 입력-->
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="memberName" maxlength="6"
                                       placeholder="name">
                                <label>이름<span class="text-danger">*</span></label>
                            </div>
                            <p class="text-start text-danger ps-2 my-1">필수 정보입니다.</p>
                        </div>

                        <!-- 성별 입력-->
                        <div class="col-12">
                            <div id="genderForm" class="form-floating">
                                <select id="select-gender" class="form-select" name="memberGender"
                                        onchange="chn_select_gender()">
                                    <option value="" selected disabled hidden></option>
                                    <option value="응답안함">성별(선택)</option>
                                    <option value="남자">남자</option>
                                    <option value="여자">여자</option>
                                </select>
                                <label id="label-gender">성별(선택)</label>
                            </div>
                            <p class="text-start text-danger ps-2 my-1">필수 정보입니다.</p>
                        </div>

                        <!-- 생년월일 입력-->
                        <div class="col-12 ">
                            <div class="row g-3 px-2">
                                <div class="form-floating px-0 pe-1 col-4">
                                    <!--                                <select id="select-year" name="memberBirthday" class="form-select" onchange="javascript:lastday();">-->
                                    <!--                                    <option selected disabled hidden>생년월일(4자)</option>-->
                                    <!--                                </select>-->
                                    <input id="select-year" type="text" class="form-control"
                                           maxlength="4"
                                           placeholder="년" onchange="javascript:lastday();">
                                    <label class="w-75">년(4자)<span class="text-danger">*</span></label>
                                </div>
                                <div id="month" class="form-floating px-1 col-4">
                                    <select id="select-month" class="form-select"
                                            onchange="chn_select_month()">
                                        <option val="" selected disabled hidden></option>
                                    </select>
                                    <label id="label-month">월<span class="text-danger">*</span></label>
                                </div>
                                <div class="form-floating px-0 ps-1 col-4">
                                    <input type="text" class="form-control" maxlength="2"
                                           placeholder="일">
                                    <label class="w-75">일<span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <p class="text-start text-danger ps-2 my-1">필수 정보입니다.</p>
                        </div>

                        <!-- 주소 입력-->
                        <div class="col-12">
                            <div class="row g-2 mb-2 px-1">
                                <div class="form-floating px-0 pe-1 col-6">
                                    <input type="text" id="sample6_postcode" class="form-control" name="memberAddress"
                                           placeholder="우편번호" on="sample6_execDaumPostcode()" readonly>
                                    <label class="w-75">우편번호<span class="text-danger">*</span></label>
                                </div>
                                <div class="form-floating px-0 ps-1 col-6">
                                    <button type="button" class="btn btn-secondary w-100 h-100"
                                            onclick="sample6_execDaumPostcode()">우편번호 찾기
                                    </button>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="form-floating">
                                    <input type="text" id="sample6_address" class="form-control"
                                           placeholder="주소">
                                    <label>주소<span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <div class="row g-2 mb-2 px-1">
                                <div class="form-floating px-0 pe-1 col-6">
                                    <input type="text" id="sample6_detailAddress" class="form-control"
                                           placeholder="상세주소">
                                    <label class="w-75">상세주소<span class="text-danger">*</span></label>
                                </div>
                                <div class="form-floating px-0 ps-1 col-6">
                                    <input type="text" id="sample6_extraAddress" class="form-control"
                                           placeholder="참고항목">
                                    <label class="w-75">참고항목</label>
                                </div>
                            </div>
                            <p class="text-start text-danger ps-2 my-1">에러메세지</p>
                        </div>

                        <!-- 휴대전화 입력-->
                        <div class="col-12">
                            <div class="row g-2 mb-2 px-1">
                                <div class="form-floating px-0 pe-1 col-8">
                                    <input type="text" id="to" name="memberPhoneNum" class="form-control" maxlength="11"
                                           placeholder="휴대전화">
                                    <label class="w-75">휴대전화<span class="text-danger">*</span></label>
                                </div>
                                <div class="form-floating px-0 ps-1 col-4">
                                    <button id="smsBtn" type="button" class="btn btn-dark w-100 h-100">인증번호 받기</button>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="smsConfirmNum" maxlength="6"
                                           placeholder="휴대전화">
                                    <label>인증번호 입력<span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <p class="text-start text-danger ps-2 my-1">필수 정보입니다.</p>
                            <p class="text-start text-danger ps-2 my-1">인증이 필요합니다.</p>
                        </div>

                        <!--회원가입 버튼-->
                        <div class="col-12">
                            <button type="submit" id="joinBtn" class="btn btn-primary mb-2 col-12 py-3">회원가입</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Join End -->


<!-- Copyright Start -->
<div class="container-fluid text-center copyright py-4">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 text-center mx-auto  mb-3 mb-md-0">
                &copy; petApet Project Team All Right Reserved.
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>
    // var start_year = "1922";// 시작할 년도
    // var today = new Date();
    // var today_year = today.getFullYear();
    // var index = 0;
    // for (var y = start_year; y <= today_year; y++) { //start_year ~ 현재 년도
    //     document.getElementById('select-year').options[index] = new Option(y, y);
    //     index++;
    // lastday();

    function lastday() { //년과 월에 따라 마지막 일 구하기
        var Year = document.getElementById('select-year').value;
        var Month = document.getElementById('select-month').value;
        var day = new Date(new Date(Year, Month, 1) - 86400000).getDate();
        /* = new Date(new Date(Year,Month,0)).getDate(); */

        var dayindex_len = document.getElementById('select-day').length;
        if (day > dayindex_len) {
            for (var i = (dayindex_len + 1); i <= day; i++) {
                document.getElementById('select-day').options[i - 1] = new Option(i, i);
            }
        } else if (day < dayindex_len) {
            for (var i = dayindex_len; i >= day; i--) {
                document.getElementById('select-day').options[i] = null;
            }
        }
    }

    // 주소 찾기 - 카카오 우편번호 서비스 api 사용
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if (data.userSelectedType === 'R') {
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>
</body>

</html>