<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>petApet</title>

    <!-- Favicon -->
    <link th:href="@{/img/icon/favicon.ico}" rel="shortcut icon" sizes="16x16">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap"
          rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous">
    </script>
</head>

<body>

<!-- Login Start -->
<main class="container-xxl text-center py-6 my-6">
    <div class="container login">
        <div class="row g-5">
            <div class="mx-auto">
                <h1 class="display-5 mb-5"><a class="" href="/"><img alt="logo">petApet</a></h1>
                <p class="invalid-feedback">아이디와 비밀번호를 입력하세요.</p>
                <form method="post" action="/login">
                    <div class="row g-3">

                        <!-- memberId Start-->
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="input-memberId" name="memberId"
                                       th:value="${loginDto.memberId}" placeholder="login"/>
                                <label for="input-memberId">아이디</label>
                            </div>
                            <p id="feedback-memberId" class="text-start text-danger ps-2 my-1"
                               th:text="${valid_memberId}"/>
                        </div>
                        <!-- memberId End -->

                        <!-- memberPw Start -->
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="input-memberPw" name="memberPw"
                                       autocomplete="off"
                                       placeholder="password"/>
                                <label for="input-memberPw">비밀번호</label>
                            </div>
                            <p id="feedback-memberPw" class="text-start text-danger ps-2 my-1"
                               th:text="${valid_memberPw}"/>
                        </div>
                        <!-- memberPw End -->

                        <!-- button , url Start -->
                        <div class="col-12">
                            <button type="button" id="loginBtn" class="btn btn-primary mb-2 col-12 py-3">로그인</button>
                            <hr/>
                            <span class="mx-3"><a href="#">비밀번호 찾기</a></span>|
                            <span class="mx-3"> <a href="#">아이디 찾기</a></span>|
                            <span class="mx-3"><a href="/join">회원가입</a></span>
                        </div>
                        <!-- button, url End -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<!-- Login End -->


<!-- Copyright Start -->
<footer class="container-fluid text-center copyright py-4">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 text-center mx-auto  mb-3 mb-md-0">
                &copy; petApet Project Team All Right Reserved.
            </div>
        </div>
    </div>
</footer>
<!-- Copyright End -->

<!-- Login Script Start -->
<script src="/js/login.js"></script>
<!-- Login Script End -->

</body>
</html>