<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment/saron_base :: base(~{::title},~{::link},~{::script})">
    <title>petApet - 로그인</title>
    <link>
    <script src="/js/member/login.js"></script>
</head>

<body>

<!-- Login Start -->
<main class="container-xxl text-center py-6 my-6">
    <div class="container login">
        <div class="row g-5">
            <div class="mx-auto">
                <h1 class="display-5 mb-5"><a class="" href="/"><img width="15%" src="img/logo.png"
                                                                     alt="logo">petApet</a></h1>
                <p class="text-danger" th:text="${error}"/>
            </div>
        </div>
        <div class="row g-3">
            <div class="btn-group mb-4" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="memberBtn" autocomplete="off" checked>
                <label class="btn btn-outline-dark py-3" for="memberBtn">개인회원</label>

                <input type="radio" class="btn-check" name="btnradio" id="companyBtn" autocomplete="off">
                <label class="btn btn-outline-dark py-3" for="companyBtn">사업자회원</label>
            </div>
        </div>

        <!-- memberForm start-->
        <form method="post" id="memberForm" th:action="@{/login}">
            <div class="row g-3">
                <!-- memberId Start-->
                <div class="col-12">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="input-memberId" name="memberId"
                               placeholder="login"/>
                        <label for="input-memberId">아이디</label>
                    </div>
                    <p id="feedback-memberId" class="text-start text-danger ps-2 my-1"
                       th:text="${valid_memberId}"/>
                </div>
                <!-- memberId End -->

                <!-- memberPw Start -->
                <div class="col-12">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="input-memberPw" name="memberPw"
                               autocomplete="off"
                               placeholder="password"/>
                        <label for="input-memberPw">비밀번호</label>
                    </div>
                    <p id="feedback-memberPw" class="text-start text-danger ps-2 my-1"
                       th:text="${valid_memberPw}"/>
                </div>
                <!-- memberPw End -->

                <!-- button a Start -->
                <div class="col-12">
                    <button type="button" id="loginBtn" class="btn btn-primary mb-2 col-12 py-3">로그인</button>
                </div>
                <!-- button a End -->
            </div>
        </form>
        <!-- memberForm end-->

        <!-- companyForm start-->
        <form method="post" id="companyForm" action="/companyLogin" hidden>
            <div class="row g-3">
                <!-- companyId Start-->
                <div class="col-12">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="input-companyId" name="companyId" placeholder="login"/>
                        <label for="input-companyId">아이디</label>
                    </div>
                    <p id="feedback-companyId" class="text-start text-danger ps-2 my-1"
                       th:text="${valid_companyId}"/>
                </div>
                <!-- companyId End -->

                <!-- companyPw Start -->
                <div class="col-12">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="input-companyPw" name="companyPw"
                               autocomplete="off" placeholder="password"/>
                        <label for="input-companyPw">비밀번호</label>
                    </div>
                    <p id="feedback-companyPw" class="text-start text-danger ps-2 my-1"
                       th:text="${valid_companyPw}"/>
                </div>
                <!-- companyPw End -->

                <!-- button a Start -->
                <div class="col-12">
                    <button type="button" id="companyLoginBtn" class="btn btn-info mb-2 col-12 py-3">로그인</button>
                </div>
                <!-- button a End -->
            </div>
        </form>
        <!-- companyForm end-->

        <hr/>
        <span class="mx-3"><a href="/findPw">비밀번호 찾기</a></span>|
        <span class="mx-3"> <a href="/findId">아이디 찾기</a></span>|
        <span class="mx-3"><a href="/join">회원가입</a></span>
    </div>
</main>
<!-- Login End -->

<!-- Modal start -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header py-5">
                <h5 class="modal-title mx-auto " id="staticBackdropLabel"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="mx-auto col-4 btn btn-link" data-bs-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<!--Modal end-->

<th:block th:replace="~{fragment/layout :: copyright}"></th:block>

</body>
</html>